.ai-third-section {
    position: relative;
    width: 100%;
    height: 1398px;
    background: linear-gradient(#D0D6DC, #E8E9EB);
    overflow: hidden;
}

.ai-figure-green {
    position: absolute;
    top: 134px;
    left: 840px;
    width: 1011px;
    z-index: 0;
}

.ai-third-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.ai-third-text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 71px 216px;
    z-index: 1;
    box-sizing: border-box;
}

.ai-third-title {
    color: #474747;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
    max-width: 1000px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.ai-third-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    white-space: pre-line;
    padding-top: 30px;
    text-align: center;
}

.ai-third-cards {
    position: absolute;
    top: 620px;
    left: 0;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ai-third-carousel {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.ai-third-carousel .kaz-tarih-carousel-container {
    display: flex !important;
    gap: 40px !important;
    flex-wrap: nowrap !important;
}

.ai-third-carousel .kaz-tarih-carousel-card {
    min-width: 630px !important;
    max-width: 630px !important;
}

.ai-third-card {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    border: 1px solid #FFFFFF;
}

.ai-card-header {
    background: radial-gradient(#9BCFAF, #37AE6C);
    border-radius: 10px;
    padding: 24px;
}

.ai-card-title {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    white-space: pre-line;
}

.ai-card-body {
    padding: 20px 57px 26px;
    color: #474747;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    white-space: pre-line;
    background: #ffffff20;
    backdrop-filter: blur(2px);
}

.ai-card-description {
    margin-top: 0;
    white-space: pre-line;
}

.ai-card-apply-section {
    margin-top: 25px;
}

.ai-card-apply-title {
    font-weight: 700;
    margin-bottom: 12px;
    color: #474747;
    font-size: 18px;
}

