.nutrition-logo {
    white-space: nowrap;
    font-family: var(--technical-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 20px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nutrition-logo__first-part {
    color: #111827;
}

.nutrition-logo__second-part {
    color: #A4DD60;
}
