.chemistry-page {
    overflow: hidden;
}

.custom-chemistry-content-section::-moz-selection {
    color: var(--default-footer-text-color-white);
    background-color: var(--section-container-primary-bg);
}
.custom-chemistry-content-section::selection {
    color: var(--default-footer-text-color-white);
    background-color: var(--section-container-primary-bg);
}
.custom-chemistry-content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.custom-chemistry-content-section > * + * {
    margin-top: 16px;
}
.custom-chemistry-content-section-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    text-align: center;
}
.custom-chemistry-content-section-text-container > * + * {
    margin-top: 36px;
}
.custom-chemistry-content-section-title {
    font-weight: 700;
    font-size: 48px;
    color: #289FF5;
}
.custom-chemistry-content-section-description {
    max-width: 800px;
    font-weight: 400;
    font-size: 24px;
}

.buttons-group {
    padding: 20px 15% 24px 15%;
    min-width: 100%;
}

.buttons-group button {
    width: 90%;
    padding: 8px 26px;
    font-family: var(--technical-font);
    font-size: 14px;
}

@media (max-width: 720px) {
    .custom-chemistry-content-section-title {
        font-size: 30px;
    }
    .custom-chemistry-content-section-description {
        font-size: 18px;
    }
    .buttons-group {
        padding: 20px 15px 24px 15px;
        max-width: 100%;
    }
    .buttons-group button {
        padding: 8px 16px !important;
        font-size: 11px;
    }

}

