@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
    font-display: swap;
}


:root {
    --modal-window-blur: blur(3px);
    --header-height: 70px;
    --page-padding-x: 144px;
    --page-mobile-padding-x: 20px;
    --section-container-secondary-half-bg: #FAFAFB;
    --section-container-secondary-bg: #FFFFFF;
    --section-container-primary-bg: #289FF5;
    --primary-text-color: #289FF5;
    --secondary-control-text-color: #3870C9;
    --secondary-text-color: #FFFFFF;
    --secondary-opacity-text-color: rgba(255, 255, 255, 0.87);
    --common-text-color: #000000;

    --default-footer-background-color-dark: #181818;
    --default-footer-text-color-grey: #FFFFFF66;
    --default-footer-text-color-white: #FFFFFF;
    --default-footer-divider-color-grey: var(--default-footer-text-color-grey);

    --common-opacity-text-color: rgba(0, 0, 0, 0.87);
    --common-second-opacity-text-color: rgba(0, 0, 0, 0.6);

    --cards-list-gap: 24px;
    --card-max-w: 270px;
    --card-max-h: 350px;
    --small-card-max-w: 220px;
    --small-card-max-h: 300px;
    --card-image-container-h: 270px;
    --card-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    --card-hover-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.22);
    --transition-duration: 0.35s;

    --title-font: "Ubuntu", sans-serif;
    --text-font: "Roboto", sans-serif;;
    --technical-font: "Montserrat", sans-serif;;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    color: var(--common-text-color);
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

h1, h2, h4 {
    margin: 0;
    padding: 0;
    font-family: var(--title-font);
}

a, p, div,
li, ul, ol, h3 {
    font-family: var(--text-font);
}

a, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: inherit;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

