.common-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0;
    color: #FFFFFFDE;
}

.centered-text {
    text-align: center;
}

.header-text {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: 0;
    color: #FFFFFFDE;
}

.title-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: 0;
    color: #FFFFFFDE;
}

.header-text-bold {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.1rem;
    color: #FFFFFFDE;
}

.caption-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 133%;
    letter-spacing: 0;
    color: #FFFFFFDE;
}