@font-face {
    font-family: "Gunny Rewritten";
    src: url("@assets/fonts/GunnyRewritten.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("@assets/fonts/Ubuntu-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Roboto Italic";
    src: url("@assets/fonts/Roboto-Italic.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "Roboto Light-Italic";
    src: url("@assets/fonts/Roboto-LightItalic.woff") format("woff");
    font-style: normal;
}

.common-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 133%;
    letter-spacing: 0;
    color: #ffffffde;
}

.centered-text {
    text-align: center;
}

.header-text {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.25rem;
    letter-spacing: 0;
    color: #ffffffde;
}

.title-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.25rem;
    letter-spacing: 0;
    color: #ffffffde;
}

.header-text-bold {
    font-weight: 700;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.1rem;
    color: #ffffffde;
}

.caption-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 133%;
    letter-spacing: 0;
    color: #ffffffde;
}

.gr-font-family {
    font-family: "Gunny Rewritten";
}

.ub-font-family {
    font-family: "Ubuntu";
}

.rob-it-font-family {
    font-family: "Roboto Italic";
}

.rob-light-it-font-family {
    font-family: "Roboto Light-Italic";
}
