.seasons-summer-seventh-section {
    width: 100vw;
    margin-inline: auto;
    position: relative;
    display: flex;
    background-size: cover;
    overflow: hidden;
    display: flex;
    background: #62B76D;
}

.seasons-summer-seventh-textured-bg {
    position: absolute;
    z-index: 1;
    filter: hue-rotate(200deg);
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.seasons-summer-seventh-bg-img {
    position: absolute;
    z-index: 2;
}

.seasons-summer-yellow-butterfly {
    width: 180px;
    height: 182px;
    top: 5%;
    left: 7%;
}

.seasons-summer-fox {
    width: 431px;
    height: 360px;
    top: 3%;
    left: 70%;
}

.seasons-summer-pink-butterfly {
    width: 205px;
    height: 194px;
    top: 70%;
    left: 75%;
    z-index: 3;
}

.seasons-summer-yellow-butterfly-mobile {
    width: 150px;
    height: 152px;
    transform: rotateZ(-135deg);
    left: 80%;
    display: none;
}

.seasons-summer-seventh-section-content {
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.seasons-summer-seventh-logo {
    width: 114px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.seasons-summer-seventh-title,
.seasons-summer-seventh-subtitle  {
    font-size: 45px;
    color: white;
    font-family: Roboto;
    max-width: 700px;
    text-align: center;
    font-weight: bold;
}

.seasons-summer-seventh-title {
    margin-bottom: 15px;
}

.seasons-summer-seventh-section-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1064px;
    gap: 18px;
    margin-bottom: 99px;
    padding: 10px;
}

@media(min-width: 1680px) {
    .seasons-summer-yellow-butterfly {
        left: 15%;
    }
}

@media(min-width: 1920px) {
    .seasons-summer-yellow-butterfly {
        left: 22%;
    }
}

@media(max-width: 1024px) {
    .seasons-summer-fox {
        left: 58%;
    }
}

@media(max-width: 1024px) {
    .seasons-summer-fox {
        display: none;
    }

    .seasons-summer-yellow-butterfly-mobile {
        display: block;
    }
}

@media(max-width: 680px) {
    .seasons-summer-seventh-subtitle {
        font-size: 30px;
    }
}

@media(max-width: 520px) {
    .seasons-summer-yellow-butterfly {
        left: -10%;
    }
}

@media(max-width: 320px) {
    .seasons-summer-pink-butterfly {
        width: 155px;
        height: 145px;
        top: 86%;
    }
}