@keyframes lighting {
    0% { 
        opacity: 0.1; 
        -webkit-transform: scale(2.1);
        -moz-transform: scale(2.1);
        -ms-transform: scale(2.1);
        -o-transform: scale(2.1);
        transform: scale(2.1); 
    }
    25% { 
        opacity: 0.5; 
        -webkit-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -ms-transform: scale(2.2);
        -o-transform: scale(2.2);
        transform: scale(2.2); 
    }
    50% { 
        opacity: 0.7; 
        -webkit-transform: scale(2.3);
        -moz-transform: scale(2.3);
        -ms-transform: scale(2.3);
        -o-transform: scale(2.3);
        transform: scale(2.3); 
    }
    75% { 
        opacity: 0.5; 
        -webkit-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -ms-transform: scale(2.2);
        -o-transform: scale(2.2);
        transform: scale(2.2); 
    }
    100% { 
        opacity: 0.1; 
        -webkit-transform: scale(2.1);
        -moz-transform: scale(2.1);
        -ms-transform: scale(2.1);
        -o-transform: scale(2.1);
        transform: scale(2.1); 
    }
} 

.physics-first-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 40px 0px 40px;
    position: relative;
    overflow: hidden;
}

.bg-img-2{
    display: none;
}

.physics-first-section-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 0;
}

.physics-first-section-background img {
    position: absolute;
    bottom: -2%;
    width: 100%; 
    height: auto;
    -webkit-transform: scale(2.7);
    -moz-transform: scale(2.7);
    -ms-transform: scale(2.7);
    -o-transform: scale(2.7);
    transform: scale(2.7);
    -webkit-animation: lighting 12s linear infinite;
    -moz-animation: lighting 12s linear infinite;
    -ms-animation: lighting 12s linear infinite;
    -o-animation: lighting 12s linear infinite;
    animation: lighting 12s linear infinite;
}

.physics-first-section-content-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.physics-first-section-grid {
    display: flex;
    justify-content: center;
    gap: 107px;
    margin: 72px 0;
    width: 100%;
}

.left-content-cards,
.right-content-cards {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    max-width: 440px;
}

.physics-types-card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    background: none;
    box-shadow: none;
    white-space: pre-line;
    height: 240px;
}

.physics-types-card img {
    width: 115px;
    height: auto;
}

@media (max-width: 1020px) {
    .physics-first-section {
        padding: 7px;
    }

    .physics-first-section-grid {
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }
    .physics-first-section-background img {
        bottom: -1%;
    }
}

@media (max-width: 800px) {
    .physics-types-card {
        align-items: flex-start;
        gap: 16px;
    }

    .physics-types-card * {
        text-align: left !important;
    }

    .physics-first-section-background .bg-img-1 {
        top: 18%;
        width: 110%;
        transform: translateX(-50%);
    }

    .physics-first-section-background .bg-img-2 {
        display: block;
        bottom: -1%;
        width: 110%;
        transform: translateX(-50%);
    }
}

@media (max-width: 570px) {

    .physics-first-section-background .bg-img-1 {
        top: 20%;
        width: 110%;
        transform: translateX(-50%);
    }

    .physics-first-section-background .bg-img-2 {
        bottom: -1%;
        width: 110%;
        transform: translateX(-50%);
    }
}

@media (max-width: 320px) {

    .physics-first-section-background .bg-img-1 {
        top: 23%;
        width: 120%;
        transform: translateX(-50%);
    }

    .physics-first-section-background .bg-img-2 {
        bottom: 0%;
        width: 120%;
        transform: translateX(-50%);
    }
}