.physics-first-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.physics-first-section-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.physics-first-section-content-wrapper h2 {
    text-align: center;
    font-size: 45px;
    color: #fff;
    margin-bottom: 60px;
}

.physics-first-section-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px 102px;
}

.physics-types-card {
    width: 440px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    background: none;
    box-shadow: none;
    white-space: pre-line;
}

.physics-types-card img {
    width: 115px;
    height: auto;
}

.physics-types-card .card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.physics-types-card .card-text h3 {
    font-size: 15px;
    color: #fff;
}

.physics-types-card .card-text p {
    font-size: 13px;
    color: #fff;
}

@media (max-width: 800px) {

    .physics-types-card {
        flex-direction: column;   
        align-items: center;      
        text-align: center;      
        gap: 12px;                
        width: 100%;              
        max-width: 400px;         
        padding: 16px;            
    }
}