.home-layout {
    width: 100%;
    background: #ECEEE1;

    main {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    h2 {
        padding-bottom: 32px !important;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

@media (max-width: 720px) {}
