.ruslit-third-section {
    background-color: #871A16;
}

.ruslit-third-section h5 {
    font-weight: 500;
}

.ruslit-third-section .MuiPaper-root {
    min-width: 100%;
}

.ruslit-third-section h3 {
    text-align: left;
}
