.kza-first-section {
    display: block;
    margin-top: -5px;
    background-color: #EBCD91;
}

.kza-background-cards-container {
    padding: 0 5px 5px 0;
    /*max-width: 1200px;*/
    width: 100%;
    margin: auto;
    overflow: auto;

    display: flex;
    justify-content: center;
}