.music-first-section {
    background-color: rgba(82, 47, 27, 1);
    padding: 44px 90px 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.music-first-section-title {
    color: rgba(230, 187, 134, 1);
    font-size: 48px;
    margin-bottom: 36px;
    text-align: center;
}

.music-top-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.music-sound-cards {
    margin-top: 44px;
}

@media (max-width: 768px) {
    .music-first-section {
        padding: 32px 20px;
    }

    .music-first-section-title {
        font-size: 28px;
    }

    .music-top-cards {
        gap: 16px;
    }
}


@media (max-width:480px) {
     .music-first-section {
        padding: 18px 10px;
    }

    .music-sound-cards {
        display: flex !important;
        flex-direction: column !important;
        gap: 16px;
        align-items: stretch;
        width: 100%;
        overflow: hidden;
    }

    .sound-card-wrapper {
        flex-direction: column !important;
        width: 100%;
    }

    .sound-card-img {
        width: 100%;
        max-width: 368px;
        height: auto;
    }

    .sound-card-content {
        width: 100%;
    }

}