.seasons-winter-second-title {
    margin-top: 75px;
}

.seasons-winter-romanBranch {
    width: 367px;
    height: 303px;
    left: -20px;
    top: 60px;
}

.seasons-winter-spruce {
    width: 388px;
    height: 544px;
    top: 264px;
    left: 1035px;
}

.seasons-winter-second-snowflake-1 {
    width: 106px;
    height: 109px;
    top: 70px;
    left: 1060px;
}

.seasons-winter-second-snowflake-2 {
    width: 60px;
    height: 70px;
    top: 27px;
    left: 1226px;
}

.seasons-winter-second-snowflake-3 {
    width: 28px;
    height: 29px;
    top: 102px;
    left: 1323px;
}

.seasons-winter-second-snowflake-4 {
    width: 48px;
    height: 50px;
    top: 192px;
    left: 1208px;
}

.seasons-winter-second-snowflake-5 {
    width: 21px;
    height: 21px;
    top: 202px;
    left: 1299px;
}

.seasons-winter-second-snowflake-6 {
    width: 26px;
    height: 27px;
    top: 623px;
    left: 1360px;
}

.seasons-winter-second-snowflake-7 {
    width: 27px;
    height: 28px;
    top: 754px;
    left: 1392px;
}

.seasons-winter-second-snowflake-8 {
    width: 23px;
    height: 24px;
    top: 160px;
    left: 208px;
}

.seasons-winter-second-snowflake-9 {
    width: 23px;
    height: 24px;
    top: 197px;
    left: 120px;
}

.seasons-winter-second-snowflake-10 {
    width: 23px;
    height: 24px;
    top: 293px;
    left: 77px;
}

.seasons-winter-second-snowflake-11 {
    width: 54px;
    height: 56px;
    top: 380px;
    left: 151px;
}

.seasons-winter-second-snowflake-12 {
    width: 23px;
    height: 24px;
    top: 407px;
    left: 225px;
}

.seasons-winter-second-snowflake-13 {
    width: 54px;
    height: 56px;
    top: 380px;
    left: 151px;
}

.seasons-winter-second-snowflake-14 {
    width: 40px;
    height: 41px;
    top: 471px;
    left: 27px;
}

.seasons-winter-second-snowflake-15 {
    width: 23px;
    height: 24px;
    top: 495px;
    left: 113px;
}

.seasons-winter-second-snowflake-16 {
    width: 106px;
    height: 109px;
    top: 490px;
    left: 205px;
}

.seasons-winter-second-snowflake-17 {
    width: 40px;
    height: 41px;
    top: 671px;
    left: 160px;
}

.seasons-winter-second-snowflake-18 {
    width: 23px;
    height: 24px;
    top: 701px;
    left: 254px;
}

.seasons-winter-second-snowflake-19 {
    width: 23px;
    height: 24px;
    top: 609px;
    left: 347px;
}

@media (max-width: 1024px) {
    .seasons-winter-second-snowflake-16 {
        width: 80px;
        height: 80px;
        top: 200px;
        left: 300px;
    }

    .seasons-winter-romanBranch {
        width: 340px;
        height: 240px;
        left: -20px;
        top: 20px;
    }
}


@media (max-width: 425px) {
    .seasons-winter-romanBranch {
        width: 180px;
        height: 190px;
        left: -20px;
        top: 5px;
    }
}