.seasons-winter-second-title {
    margin-top: 75px;
}

.seasons-winter-romanBranch {
    width: 367px;
    height: 303px;
    left: -2%;
    top: 6%;
}

.seasons-winter-spruce {
    width: 388px;
    height: 544px;
    top: 30%;
    left: 72%;
}

.seasons-winter-second-snowflake-1 {
    width: 106px;
    height: 109px;
    top: 8%;
    left: 74%;
}

.seasons-winter-second-snowflake-2 {
    width: 60px;
    height: 70px;
    top: 3%;
    left: 85%;
}

.seasons-winter-second-snowflake-3 {
    width: 28px;
    height: 29px;
    top: 11%;
    left: 92%;
}

.seasons-winter-second-snowflake-4 {
    width: 48px;
    height: 50px;
    top: 21%;
    left: 84%;
}

.seasons-winter-second-snowflake-5 {
    width: 21px;
    height: 21px;
    top: 22%;
    left: 90%;
}

.seasons-winter-second-snowflake-6 {
    width: 26px;
    height: 27px;
    top: 68%;
    left: 95%;
}

.seasons-winter-second-snowflake-7 {
    width: 27px;
    height: 28px;
    top: 82%;
    left: 97%;
}

.seasons-winter-second-snowflake-8 {
    width: 23px;
    height: 24px;
    top: 17%;
    left: 14%;
}

.seasons-winter-second-snowflake-9 {
    width: 23px;
    height: 24px;
    top: 21%;
    left: 8%;
}

.seasons-winter-second-snowflake-10 {
    width: 23px;
    height: 24px;
    top: 31%;
    left: 5%;
}

.seasons-winter-second-snowflake-11 {
    width: 54px;
    height: 56px;
    top: 40%;
    left: 10%;
}

.seasons-winter-second-snowflake-12 {
    width: 23px;
    height: 24px;
    top: 43%;
    left: 15%;
}

.seasons-winter-second-snowflake-13 {
    width: 54px;
    height: 56px;
    top: 40%;
    left: 10%;
}

.seasons-winter-second-snowflake-14 {
    width: 40px;
    height: 41px;
    top: 50%;
    left: 2%;
}

.seasons-winter-second-snowflake-15 {
    width: 23px;
    height: 24px;
    top: 53%;
    left: 8%;
}

.seasons-winter-second-snowflake-16 {
    width: 106px;
    height: 109px;
    top: 52%;
    left: 14%;
}

.seasons-winter-second-snowflake-17 {
    width: 40px;
    height: 41px;
    top: 72%;
    left: 11%;
}

.seasons-winter-second-snowflake-18 {
    width: 23px;
    height: 24px;
    top: 75%;
    left: 18%;
}

.seasons-winter-second-snowflake-19 {
    width: 23px;
    height: 24px;
    top: 65%;
    left: 24%;
}

@media (max-width: 1024px) {
    .seasons-winter-second-snowflake-16 {
        width: 80px;
        height: 80px;
        top: 28%;
        left: 25%;
    }

    .seasons-winter-romanBranch {
        width: 340px;
        height: 240px;
        left: -2%;
        top: 2%;
    }
}

@media (max-width: 768px) {
    .seasons-winter-spruce {
        left: 100%;
    }

    .seasons-winter-second-snowflake-1 {
        width: 27px;
        height: 27px;
        top: 2%;
    }
}

@media (max-width: 425px) {
    .seasons-winter-romanBranch {
        width: 180px;
        height: 190px;
        left: -5%;
        top: 1%;
    }

    .seasons-winter-second-snowflake-2 {
        width: 30px;
        height: 30px;
        top: 5%;
    }
}