.table-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 64px;
    background-color: #FFFFFF;
}

.table {
    max-width: 1200px;
}

.empty-cell {
    height: 40px;
    cursor: auto;
    pointer-events: none;
}

.cells {
    padding: 1px;
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(18, auto);
    grid-gap: 1px;
    -ms-grid-row-gap: 1px;
    -ms-grid-column-gap: 1px;
    max-width: 1200px;
    max-height: 640px;
}

.categories {
    position: absolute;
    top: 32px;
    left: 197px;
    max-width: 590px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.category-group {
    width: 180px;
    padding: 12px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 8px;
}

.category-group > span {
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 8px;
}

.category-group > span,
.category-group > span * {
    cursor: pointer;
}

.category-group > span > label {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category-group > span > input[type="checkbox"]:checked,
.category-group > span > input[type="checkbox"]:not(:checked) {
    position: relative;
    left: -9999px;
    min-width: 16px;
    min-height: 16px;
}

.category-group > span > input[type="checkbox"]:checked + label:before,
.category-group > span > input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    left: -24px;
    top: -2px;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 5px;
    background-color: transparent;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    transition: all 1.3s ease;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* Turn off state of the checkbox */

.category-group > span > input[name="Актиноид"]:checked + label:before,
.category-group > span > input[name="Актиноид"]:not(:checked) + label:before { border-color: #7FB5AE; }
.category-group > span > input[name="Галоген"]:checked + label:before,
.category-group > span > input[name="Галоген"]:not(:checked) + label:before { border-color: #FF9595; }
.category-group > span > input[name="Инертный газ"]:checked + label:before,
.category-group > span > input[name="Инертный газ"]:not(:checked) + label:before { border-color: #DAA2E0; }
.category-group > span > input[name="Лантаноид"]:checked + label:before,
.category-group > span > input[name="Лантаноид"]:not(:checked) + label:before { border-color: #A1DCCC; }
.category-group > span > input[name="Неметалл"]:checked + label:before,
.category-group > span > input[name="Неметалл"]:not(:checked) + label:before { border-color: #A7D04A; }
.category-group > span > input[name="Переходный металл"]:checked + label:before,
.category-group > span > input[name="Переходный металл"]:not(:checked) + label:before { border-color: #99C0E5; }
.category-group > span > input[name="Полуметалл"]:checked + label:before,
.category-group > span > input[name="Полуметалл"]:not(:checked) + label:before { border-color: #5AC0E8; }
.category-group > span > input[name="Постпереходный металл"]:checked + label:before,
.category-group > span > input[name="Постпереходный металл"]:not(:checked) + label:before { border-color: #75A1E4; }
.category-group > span > input[name="Радиоактивный металл"]:checked + label:before,
.category-group > span > input[name="Радиоактивный металл"]:not(:checked) + label:before { border-color: #5AC0E8; }
.category-group > span > input[name="Щелочноземельный металл"]:checked + label:before,
.category-group > span > input[name="Щелочноземельный металл"]:not(:checked) + label:before { border-color: #FEB149; }
.category-group > span > input[name="Щелочной металл"]:checked + label:before,
.category-group > span > input[name="Щелочной металл"]:not(:checked) + label:before { border-color: #FD6863; }

.category-group > span > input[name="актиноид"]:checked + label:before,
.category-group > span > input[name="актиноид"]:not(:checked) + label:before { border-color: #7FB5AE; }
.category-group > span > input[name="галоген"]:checked + label:before,
.category-group > span > input[name="галоген"]:not(:checked) + label:before { border-color: #FF9595; }
.category-group > span > input[name="инертті газ"]:checked + label:before,
.category-group > span > input[name="инертті газ"]:not(:checked) + label:before { border-color: #DAA2E0; }
.category-group > span > input[name="лантоид"]:checked + label:before,
.category-group > span > input[name="лантоид"]:not(:checked) + label:before { border-color: #A1DCCC; }
.category-group > span > input[name="бейметалл"]:checked + label:before,
.category-group > span > input[name="бейметалл"]:not(:checked) + label:before { border-color: #A7D04A; }
.category-group > span > input[name="өтпелі металл"]:checked + label:before,
.category-group > span > input[name="өтпелі металл"]:not(:checked) + label:before { border-color: #99C0E5; }
.category-group > span > input[name="жартылай металл"]:checked + label:before,
.category-group > span > input[name="жартылай металл"]:not(:checked) + label:before { border-color: #5AC0E8; }
.category-group > span > input[name="өтпелі металлдерден кейінгі металл"]:checked + label:before,
.category-group > span > input[name="өтпелі металлдерден кейінгі металл"]:not(:checked) + label:before { border-color: #75A1E4; }
.category-group > span > input[name="радиоактивті металл"]:checked + label:before,
.category-group > span > input[name="радиоактивті металл"]:not(:checked) + label:before { border-color: #5AC0E8; }
.category-group > span > input[name="сілтілік-жер металлдары"]:checked + label:before,
.category-group > span > input[name="сілтілік-жер металлдары"]:not(:checked) + label:before { border-color: #FEB149; }
.category-group > span > input[name="сілтілік металл"]:checked + label:before,
.category-group > span > input[name="сілтілік металл"]:not(:checked) + label:before { border-color: #FD6863; }

/* Turn on state of the checkbox */

.category-group > span > input[name="Актиноид"]:checked + label:after { border-color: #7FB5AE; background-color: #7FB5AE; }
.category-group > span > input[name="Галоген"]:checked + label:after { border-color: #FF9595; background-color: #FF9595; }
.category-group > span > input[name="Инертный газ"]:checked + label:after { border-color: #DAA2E0; background-color: #DAA2E0; }
.category-group > span > input[name="Лантаноид"]:checked + label:after { border-color: #A1DCCC; background-color: #A1DCCC; }
.category-group > span > input[name="Неметалл"]:checked + label:after { border-color: #A7D04A; background-color: #A7D04A; }
.category-group > span > input[name="Переходный металл"]:checked + label:after { border-color: #99C0E5; background-color: #99C0E5; }
.category-group > span > input[name="Полуметалл"]:checked + label:after { border-color: #5AC0E8; background-color: #5AC0E8; }
.category-group > span > input[name="Постпереходный металл"]:checked + label:after { border-color: #75A1E4; background-color: #75A1E4; }
.category-group > span > input[name="Радиоактивный металл"]:checked + label:after { border-color: #5AC0E8; background-color: #5AC0E8; }
.category-group > span > input[name="Щелочноземельный металл"]:checked + label:after { border-color: #FEB149; background-color: #FEB149; }
.category-group > span > input[name="Щелочной металл"]:checked + label:after { border-color: #FD6863; background-color: #FD6863; }

.category-group > span > input[name="актиноид"]:checked + label:after { border-color: #7FB5AE; background-color: #7FB5AE; }
.category-group > span > input[name="галоген"]:checked + label:after { border-color: #FF9595; background-color: #FF9595; }
.category-group > span > input[name="инертті газ"]:checked + label:after { border-color: #DAA2E0; background-color: #DAA2E0; }
.category-group > span > input[name="лантоид"]:checked + label:after { border-color: #A1DCCC; background-color: #A1DCCC; }
.category-group > span > input[name="бейметалл"]:checked + label:after { border-color: #A7D04A; background-color: #A7D04A; }
.category-group > span > input[name="өтпелі металл"]:checked + label:after { border-color: #99C0E5; background-color: #99C0E5; }
.category-group > span > input[name="жартылай металл"]:checked + label:after { border-color: #5AC0E8; background-color: #5AC0E8; }
.category-group > span > input[name="өтпелі металлдерден кейінгі металл"]:checked + label:after { border-color: #75A1E4; background-color: #75A1E4; }
.category-group > span > input[name="радиоактивті металл"]:checked + label:after { border-color: #5AC0E8; background-color: #5AC0E8; }
.category-group > span > input[name="сілтілік-жер металлдары"]:checked + label:after { border-color: #FEB149; background-color: #FEB149; }
.category-group > span > input[name="сілтілік металл"]:checked + label:after { border-color: #FD6863; background-color: #FD6863; }
