.ruslit-first-section {
    display: block;
}

.ruslit-content-container {
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 36px;
}

@media screen and (max-width: 1200px) {
    .ruslit-content-container {
        padding: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .ruslit-content-container {
        gap: 24px;
        padding: 16px;
    }
}