.language-select-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: fit-content;
}

.language-select-option {
    color: rgb(0, 0, 0, 0.87);
}

.language-select-container .css-1ev28is-MuiInputBase-root-MuiInput-root::after {
    border-bottom: 0.125rem solid #ffffff;
}

.language-select-container [class*="MuiFormLabel-root-MuiInputLabel-root"],
.language-select-container
    [class*="MuiFormLabel-root-MuiInputLabel-root"].Mui-focused {
    color: #ffffff;
}
