.kt-tenth-section {
    width: 100%;

    background-color: #ff002f;
    color: #ffffff;
}

.kt-tenth-section-content {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.kt-tenth-section-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2.5rem;

    gap: 1.5rem;

    z-index: 2;
}

.kt-tenth-section-header .kt-title {
    width: 50%;
    text-align: center;
}

.kt-tenth-section-header .kt-description {
    width: 70%;
}

.kt-tenth-section-cards-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;

    z-index: 2;
}

.kt-tenth-section-card {
    max-width: none;
    width: 70%;

    padding: 25px 20px;

    background-color: #e2e6ea;
    color: #000000;
}

.kt-tenth-section-card .text-formatter-title {
    color: #af2128;
}

.kt-tenth-section-ds {
    z-index: 2;

    margin-bottom: 2rem;
}

.kt-tenth-section-ds .list {
    gap: 0;
}

.css-1oymmvh-MuiPaper-root-MuiAlert-root {
    max-width: none !important;
}

.kt-tenth-section-ds .ds-notification-block-list {
    padding-left: 2rem;
}

.kt-tenth-section-ds .ds-notification-block-wrapper {
    gap: 0;
}
