.header-biology-section-text {
    font-size: 2.8125rem;
    font-weight: 400;

    color: #ffffff;

    line-height: 3.25rem;
    letter-spacing: 0;
}

.title-bilogy-text {
    font-size: 1.5rem;
    font-weight: 400;

    color: #ffffff;

    line-height: 2rem;
    letter-spacing: 0;
}

.title-biology-medium-text {
    font-size: 2rem;
    font-weight: 400;

    color: #ffffff;

    line-height: 2rem;
    letter-spacing: 0;
}

.description-biology-small-text {
    font-size: 0.875rem;
    font-weight: 400;

    color: #ffffff;

    line-height: 1.25rem;
    letter-spacing: 0.25px;
}

.description-biology-medium-text {
    font-size: 1rem;
    font-weight: 400;

    color: #ffffff;

    line-height: 1.25rem;
    letter-spacing: 0.25px;
}

.biology-fifth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 800px;

    background-color: rgba(115, 164, 196, 1);
}

.biology-fifth-section-header {
    width: 800px;
    position: relative;
    top: 4.5rem;

    text-align: center;
}

.biology-fifth-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    gap: 2rem;
}

.biology-fifth-section-cards-container {
    display: flex;
    justify-content: center;

    height: 454px;
    width: 100%;

    gap: 26px;
}

.biology-fifth-section-card {
    display: flex;
    align-items: start;

    background-color: rgba(66, 96, 117, 1);
    border-radius: 45px;

    padding: 24px 25px 15px 25px;

    width: fit-content;
    max-width: 459px;
    max-height: 423px;
}

.biology-fifth-section-card-header {
    text-align: start;
}

.biology-fifth-section-card-image-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    height: 100%;

    flex: 0.4;
}

.biology-fifth-section-image {
    z-index: 1;
}

.biology-fifth-section-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.biology-fifth-section-image-description {
    position: relative;
    opacity: 0.8;

    bottom: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

    width: 94px;
    height: 20px;

    background-color: #678fb1;
    color: #ffffff;
    font-size: 6px;

    z-index: 2;
}

.biology-fifth-section-card-content-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    flex: 0.6;

    gap: 4px;
}

.biology-fifth-section-card-info-content-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    gap: 1.5rem;
}

.biology-fifth-section-card-info-content-wrapper li {
    margin-left: 1.5rem;
}

#first-image {
    width: 140px;

    margin-top: 2.5rem;
}

/* #second-image {
} */

#eighth-image {
    width: 102px;
    height: 38px;
}

#nineth-image {
    width: 99px;
    height: 49px;
}

#tenth-image {
    width: 101px;
    height: 54px;
}

#eleventh-image {
    width: 102px;
    height: 44px;
}

#twelve-image {
    width: 104px;
    height: 51px;
}

.biology-fifth-section-image-description.twelve {
    bottom: 0.9rem;
}
