.home-nav {
    display: flex;
}

.home-nav svg {
    width: 25px;
    height: 25px;
}

.home-nav button:hover {
    background: transparent !important;

    svg {
        color: #464923 !important;
    }
}
