.two-colors-section {
    position: relative;
    width: 100%;
    padding: 44px 0;

    .two-colors-section-backgrounds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 10;

        .two-colors-background {
            width: 50%;
            height: 100%;
        }
    }

    .two-colors-section-content {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
        z-index: 20;

        h2 {
            font-family: var(--title-font), serif;
            font-size: 48px;
            text-align: center;
        }

        p {
            font-family: var(--text-font), serif;
            font-size: 20px;
            text-align: center;
        }

        .two-colors-section-alert-wrapper {
            width: 100%;
            max-width: 1200px;
        }
    }
}

.two-colors-section-alert-wrapper {
    [class*="MuiPaper-root"] {
        justify-content: flex-start;
    }
}

.two-colors-image-wrapper {
    max-width: 790px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .two-colors-section {
        padding: 40px 21px;

        .two-colors-section-content {
            gap: 24px;

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}
