.safety-in-nature-cover-section {
    position: relative;
    overflow: hidden;
}

.safety-in-nature-cover-section::after {
    width: 100%;
    height: 30%;
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, #c6e2f1 10.31%, rgba(198, 226, 241, 0) 100%);
}

.safety-in-nature-cover-bg {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.safety-in-nature-content {
    padding: 47px 54px 41px 54px;
    max-width: 980px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.7);
    background: rgba(8, 120, 58, 0.3);
    position: absolute;
    z-index: 3;
    margin-top: 300px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 36px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px); 
}

.safety-in-nature-cover-content-tree {
    width: 85px;
    height: 85px;
}

.safety-in-nature-text-wrapper h1 {
    font-weight: 900;
    font-size: 46px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.safety-in-nature-text-wrapper p {
    font-weight: 700;
    font-size: 24px;
}

@media (max-width: 500px) {
    .safety-in-nature-cover-bg {
        height: 729px;
        margin-top: 500px;
    }

    .safety-in-nature-content {
        flex-direction: column;
        margin-top: 200px;
    }

    .safety-in-nature-text-wrapper h1 {
        font-size: 30px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .safety-in-nature-text-wrapper p {
        font-size: 18px;
    }
}