.ruslit-cover-section {
    width: 100%;
    height: 100%;
    position: relative;
}

.ruslit-cover-section-image-container {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.ruslit-cover-section-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 550px;
}

.ruslit-cover-text-content {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;

    max-width: 1200px;
    padding: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    gap: 8px;

    background-color: #FFFFFF;
}

.ruslit-cover-text-content h1 {
    color: #871A16;
    font-size: 48px;
}

.ruslit-cover-text-content p {
    color: #8F2825;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

@media screen and (max-width: 1440px) {
    .ruslit-cover-text-content {
        bottom: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .ruslit-cover-text-content {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1000px) {
    .ruslit-cover-text-content {
        max-width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .ruslit-cover-text-content {
        margin: 0 10px;
        padding: 14px 8px;
    }

    .ruslit-cover-text-content h1 {
        font-size: 30px;
    }

    .ruslit-cover-text-content p {
        font-size: 18px;
        font-weight: 400;
    }
}
