.flexible-alert {
    min-width: 100%;
    text-align: start;
}

.alert-warning-beige {
    border: 1px solid #EFE4D3;
}

.alert-warning-beige *::selection {
    background-color: #c38936;
    color: white;
}
