.fire-safety-first-section-content-wrapper h2 {
    margin-bottom: 6.375rem;
}

.fire-causes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}


@media screen and (max-width: 1200px) {
.fire-causes {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
}