.bg-title{
    color: #fff;
    letter-spacing: 0.25px;
    text-align: center;
    border: 2px solid #ffffff;
}

.bg-title h2 {
    font-size: 45px;
}

.bg-title h3 {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-family: var(--text-font);
    font-weight: 400;
    margin-inline: 10%;
}

.font-ubuntu{
    font-family: var(--title-font);
}

.font-roboto{
    font-family: var(--text-font);
}

@media (max-width: 1024px) {
    .bg-title h3 {
        margin-inline: 5%;
    }
}

@media (max-width: 800px) {
    .bg-title h2 {
        font-size: 36px;
    }

    .bg-title h3 {
        font-size: 1rem;
        margin-inline: 0;
    }
}