.physics-everyday-section {
    width: 100%;
    justify-content: center;
    padding: 2.5rem 5.6rem 2.25rem;
    margin: 0px auto;
}

.physics-everyday-section p {
    margin-top: 15px;
}

.physics-everyday-cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.physics-everyday-card p {
    white-space: pre-line;
    align-items: flex-start;
    margin-top: 0;
}