.physics-logo {
    font-family: var(--technical-font), serif;
    font-weight: 600;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
}

.physics-language-switcher {
    color: #EE7630;
}

.physics-background{
    background: linear-gradient(179.94deg, #212630 0.05%, #225992 55.11%, #212630 100.51%);
}