.kt-third-section {
    overflow-x: hidden;
    background-color: #b28e5c;
    position: relative;
    height: fit-content;
    padding-top: 75px;
}

.kt-third-weapons-images {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    z-index: 1;
}

.kt-weapons-0 {
    width: 330px;
    height: 530px;
    top: 0;
    left: 1%;
}

.kt-weapons-1 {
    width: 312px;
    height: 690px;
    top: 66%;
    left: 2%;
}

.kt-weapons-2 {
    width: 200px;
    height: 660px;
    top: 66%;
    left: 85%;
}

.kt-third-section-content-wrapper {
    position: relative;
    z-index: 3;
}

.kt-third-section-title {
    margin-bottom: 14px;
    color: white;
    max-width: 700px;
    text-align: center;
    margin-inline: auto;
    font-weight: 500;
    text-transform: uppercase;
}

.kt-third-section-description {
    color: #64462D;
    max-width: 960px;
    text-align: justify;
    margin-inline: auto;
    margin-bottom: 77px;
}

.kt-formatter-card-wrapper {
    margin-bottom: 48px;
}

.kt-formatter-card {
    margin-left: 38px;
    flex-shrink: 0;
}

.kt-summary-card-wrapper {
    max-width: 960px;
    margin-inline: auto;
    margin-bottom: 63px;
}

@media (max-width: 1024px) {
    .kt-third-section-description {
        max-width: 700px;
    }

    .kt-summary-card-wrapper {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .kt-third-section {
        padding-top: 40px;
    }

    .kt-third-section-title {
        max-width: 500px;
        text-transform: none;
        margin-bottom: 24px;
        padding-inline: 20px;
    }

    .kt-third-section-description {
        max-width: 600px;
        text-align: center;
        margin-bottom: 24px;
        padding-inline: 20px;
    }

    .kt-formatter-card-wrapper {
        margin-bottom: 24px;
    }

    .kt-summary-card-wrapper {
        max-width: 500px;
    }
}

@media (max-width: 500px) {
    .kt-third-section-title {
        max-width: 350;
    }

    .kt-summary-card-wrapper {
        max-width: 350px;
        padding-inline: 20px;
        margin-bottom: 29px;
    }
}