.kt-third-section {
    width: 100%;

    background-color: #ba7c31;
}

.kt-third-section-content {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.kt-third-section-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2.5rem;

    gap: 1.5rem;

    z-index: 2;
}

.kt-third-section-header .kt-title {
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.kt-third-section-header .kt-description {
    width: 70%;
    color: #64462d;
}

.kt-third-section-ds {
    z-index: 2;

    margin-bottom: 5rem;
}

.kt-third-section-ds .ds-notification-block-list {
    padding-left: 2rem;
}

.kt-third-section-ds .ds-notification-block-wrapper {
    gap: 0;
}

.css-1oymmvh-MuiPaper-root-MuiAlert-root {
    max-width: none !important;
}

.kt-third-section-background-images {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.kt-third-section-background-images img {
    position: absolute;
}

#kt-third-section-background-img-0 {
    top: -5%;
    width: 25%;
}

#kt-third-section-background-img-1 {
    left: -3%;
    bottom: -5%;
    width: 25%;
}

#kt-third-section-background-img-2 {
    bottom: -5%;
    right: 2%;
    height: 40%;
}
