.ruslit-second-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.ruslit-second-section {
    padding: 40px 0 40px 0;
}

.ruslit-second-section h1 {
    font-size: 48px;
    color: #871A16;
    padding-bottom: 16px;
}

.ruslit-second-section h2 {
    font-family: Roboto;
    color: #871A16;
    font-size: 16px;
    font-weight: 400;
    max-width: 754px;
}

.ruslit-second-section h3 {
    color: #871A16;
    font-size: 36px;
}

.ruslit-content-section-text-container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

@media (max-width: 800px) {
    .ruslit-second-section h1,
    .ruslit-second-section h2
    .ruslit-second-section h3 {
        font-size: 30px;
    }
}