.header-biology-section-text {
    font-size: 45px;
    font-weight: 400;

    color: #ffffff;

    line-height: 52px;
    letter-spacing: 0;
}

.title-bilogy-text {
    font-size: 24px;
    font-weight: 400;

    color: #ffffff;

    line-height: 32px;
    letter-spacing: 0;
}

.description-biology-small-text {
    font-size: 14px;
    font-weight: 400;

    color: #ffffff;

    line-height: 20px;
    letter-spacing: 0.25px;
}

.description-biology-medium-text {
    font-size: 16px;
    font-weight: 400;

    color: #ffffff;

    line-height: 20px;
    letter-spacing: 0.25px;
}

.bold-text {
    font-weight: 600;
}

.biology-sixth-section {
    width: 100%;
    height: 2800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #426075;
}

.header-sixth-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 4.5rem;
    margin-bottom: 1.5rem;

    width: 564px;
    height: 194px;

    gap: 27px;
}

.header-sixth-section {
    text-align: center;
}

.sixth-section-cards-container {
    width: 100%;
    height: 100%;

    position: relative;
}

.sixth-section-card {
    display: flex;
    align-items: center;

    position: relative;
    z-index: 2;

    width: fit-content;
    height: fit-content;

    max-width: 800px;

    gap: 26px;
}

.sixth-section-card-info-block {
    display: flex;
    flex-direction: column;

    width: 486px;
    height: auto;

    gap: 4px;
}

.sixth-section-card-picture-wrapper {
    width: 141px;
    height: 141px;
}

.sixth-section-card-picture {
    width: 100%;
    height: 100%;
}

#first-card {
    left: 17.5rem;
    top: 2rem;

    text-align: right;
}

#second-card {
    left: 38rem;
    top: 5rem;

    text-align: left;
}

#third-card {
    left: 17.5rem;
    top: 8rem;

    text-align: right;
}

#fourth-card {
    left: 38rem;
    top: 11rem;

    text-align: left;
}

#fifth-card {
    left: 17.5rem;
    top: 13.5rem;

    text-align: right;
}

#sixth-card {
    left: 38rem;
    top: 17rem;

    text-align: left;
}

#seventh-card {
    left: 17.5rem;
    top: 20rem;

    text-align: right;
}

#eighth-card {
    left: 38rem;
    top: 23rem;

    text-align: left;
}

#nineth-card {
    left: 17.5rem;
    top: 26rem;

    text-align: right;
}

#tenth-card {
    left: 38rem;
    top: 29rem;

    text-align: left;
}

#fourth-card .sixth-section-card-picture-wrapper,
#fifth-card .sixth-section-card-picture-wrapper {
    width: 162px;
}

#seventh-card .sixth-section-card-picture-wrapper {
    width: 235px;
}

#tenth-card .sixth-section-card-picture-wrapper {
    height: 156px;
}

.sixth-section-notification-block {
    margin-bottom: 3.5rem;
}
