.ai-fourth-section {
    position:   relative;
    z-index: 2;
    overflow: hidden;
    background: linear-gradient(180deg, #d0d6dc 0%, #e8e9eb 100%);
}

.ai-fourth-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.ai-fourth-figure {
    width: 1011px;
    height: 826px;
    position: absolute;
    z-index: 2;
    top: 3%;
    left: -25%;
}

.ai-fourth-content-wrapper {
    margin-top: 80px;
    margin-bottom: 153px;
    position: relative;
    z-index: 3;
}

.ai-fourth-title-wrapper {
    max-width: 1008px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.ai-fourth-title {
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--text-font);
    color: #474747;
    margin-bottom: 33px;
    text-align: center;
}

.ai-fourth-subtitle {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-family: var(--text-font);
    color: #474747;
}

.ai-fourth-cards-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 33px;
    max-height: 1100px;
    justify-content: center;
    padding-inline: 20px;
    margin-inline: auto;
    width: fit-content;
}

.ai-fourth-section-cards {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 10px;
    width: 630px;
    backdrop-filter: blur(3px);
}

.ai-fourth-section-cards .text-formatter-title {
    color: white;
    text-transform: uppercase;
    font-family: var(--text-font);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 24px;
    background: radial-gradient(50.63% 50.63% at 47.54% 50%, #34b7dc 0%, #2496cd 100%);
}

.ai-fourth-section-cards .text-formatter-paragraph-wrapper p,
.ai-fourth-section-cards .text-formatter-list-item {
    font-size: 18px;
    line-height: 111%;
    color: #474747;
}

.ai-fourth-section-cards .text-formatter-paragraph-wrapper p {
    padding-inline: 57px;
}

.ai-fourth-section-cards .text-formatter-list-item {
    margin-inline: 57px;
    margin-top: 20px;
}

.ai-fourth-content-wrapper .text-formatter {
    padding: 0 0 29px 0;
}

@media (max-width: 1240px) {
    .ai-fourth-subtitle {
        max-width: 900px;
        padding-inline: 40px;
        margin-inline: auto;
        font-size: 22px;
        line-height: 24px;
    }

    .ai-fourth-cards-wrapper {
        gap: 20px;
    }

    .ai-fourth-section-cards .text-formatter-title {
        font-size: 28px;
    }

    .ai-fourth-cards-wrapper {
        max-height: 1600px;
    }
    
    .ai-fourth-section-cards {
        width: 500px;
    }
}

@media (max-width: 1080px) {
    .ai-fourth-title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    .ai-fourth-subtitle {
        font-size: 20px;
    }

    .ai-fourth-cards-wrapper {
        max-height: 2000px;
    }
    
    .ai-fourth-section-cards {
        width: 400px;
    }

    .ai-fourth-section-cards .text-formatter-paragraph-wrapper p {
        padding-inline: 29px;
    }

    .ai-fourth-section-cards .text-formatter-list-item {
        margin-inline: 29px;
        margin-top: 18px;
    }

    .ai-fourth-content-wrapper .text-formatter {
        padding: 0 0 35px 0;
    }
}

@media (max-width: 900px) {
    .ai-fourth-cards-wrapper {
        max-height: 2000px;
    }
    
    .ai-fourth-section-cards {
        width: 350px;
    }
}

@media (max-width: 800px) {
    .ai-fourth-figure {
        width: 701px;
        height: 718px;
    }

    .ai-fourth-content-wrapper {
        margin-top: 46px;
    }

    .ai-fourth-title-wrapper {
        margin-bottom: 28px;
    }

    .ai-fourth-title {
        font-size: 28px;
        margin-bottom: 10px;
    }
    
    .ai-fourth-subtitle {
        font-size: 18px;
        line-height: 20px;
    }

    .ai-fourth-cards-carousel .kaz-tarih-carousel-container{
        gap: 30px;
        margin-inline: 20px;
    }

    .ai-fourth-section-cards {
        width: 620px;
        flex-shrink: 0;
    }
}

@media (max-width: 650px) {
    .ai-fourth-section-cards {
        width: 520px;
    }
}

@media (max-width: 550px) {
    .ai-fourth-section-cards {
        width: 470px;
    }
}

@media (max-width: 500px) {
    .ai-fourth-figure {
        height: 640px;
        left: -39%;
    }

    .ai-fourth-section-cards {
        width: 400px;
    }
}

@media (max-width: 420px) {
    .ai-fourth-section-cards {
        width: 350px;
    }
}

@media (max-width: 370px) {
    .ai-fourth-section-cards {
        width: 320px;
    }
}
