.biology-seventh-section {
    width: 100%;
    height: 121.875rem;

    position: relative;

    background-color: #d17176;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biology-seventh-section-header-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 3.5rem;

    width: 39.75rem;
    height: 14.75rem;

    text-align: center;

    gap: 1.6875rem;
}

.biology-seventh-section-background-images-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.biology-seventh-section-cards-container {
    width: 100%;
    height: 82%;
    position: relative;
}

.biology-seventh-section-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: #a9626e;
    border-radius: 2.8125rem;

    padding: 1.5rem;
    gap: 1.5rem;

    width: 35.6875rem;
    height: fit-content;

    z-index: 2;
}

.biology-seventh-section-card-header {
    margin: 0 0 0.75rem 0.5rem;
}

.biology-seventh-section-card-content {
    display: flex;
    flex-direction: column;
    justify-content: left;

    border: 0.0625rem solid #ffffff;
    border-radius: 2.8125rem;

    width: 100%;
    height: 100%;

    padding: 0.75rem 1.5rem;

    gap: 0.625rem;
}

.biology-seventh-section-card-info-wrapper {
    display: flex;
    flex-direction: column;
}

#first-7th-card {
    left: 14.5rem;
}

#second-7th-card {
    bottom: 22rem;
    left: 51.5rem;
}

#third-7th-card {
    bottom: 39%;
    left: 14.5rem;
}

#fourth-7th-card {
    left: 51.5rem;
    bottom: 60%;
}

#fifth-7th-card {
    left: 14.5rem;
    bottom: 60.5%;
}

#sixth-7th-card {
    left: 51.5rem;
    bottom: 87%;
}

.biology-seventh-section-picture {
    position: absolute;
    z-index: 1;
}

#first-7th-image {
    width: 6.75rem;

    left: 18.5%;
    top: 10rem;
}

#second-7th-image {
    width: 9.8125rem;

    right: 26%;
    top: 13%;
}

#third-7th-image {
    width: 9.625rem;
    height: 9.625rem;

    right: 7rem;
    top: 14.5%;
}

#fourth-7th-image {
    width: 7.188rem;
    height: 7.188rem;

    right: 7rem;
    top: 25%;
}

#fifth-7th-image {
    width: 6.0625rem;
    height: 6.25rem;

    right: 8.5rem;
    bottom: 32%;
}

#sixth-7th-image {
    width: 10.9375rem;
    height: 10.9375rem;

    right: 4rem;
    bottom: 17%;
}

#seventh-7th-image {
    width: 6.875rem;
    height: 6.875rem;

    right: 15%;
    bottom: 3rem;
}

#eighth-7th-image {
    width: 6.625rem;
    height: 6.625rem;

    right: 1rem;
    bottom: 2rem;
}

#nineth-7th-image {
    width: 5.6875rem;
    height: 5.5625rem;

    left: 40%;
    bottom: 3.75rem;
}

#tenth-7th-image {
    width: 9.3125rem;
    height: 9.3125rem;

    left: 7rem;
    bottom: 16%;
}

#eleven-7th-image {
    width: 7.25rem;

    left: 8.25rem;
    top: 41%;
}

#twelve-7th-image {
    height: 6.25rem;

    left: 4rem;
    top: 32%;
}
