.biology-seventh-section {
    width: 100%;
    height: 121.875rem;

    position: relative;

    background-color: #d17176;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biology-seventh-section-header-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 3.5rem;

    width: 39.75rem;
    height: 14.75rem;

    text-align: center;

    gap: 1.6875rem;
}

.biology-seventh-section-background-images-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.biology-seventh-section-content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 82%;
    width: 100%;
}

.biology-seventh-section-cards-container {
    width: fit-content;
    height: 100%;
}

.biology-seventh-section-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: #a9626e;
    border-radius: 2.8125rem;

    padding: 1.5rem;
    gap: 1.5rem;

    width: 35.6875rem;
    height: fit-content;

    z-index: 2;
}

#seventh-section-card-0 {
    right: 14.5rem;
}

#seventh-section-card-1 {
    bottom: 21rem;
    left: 23rem;
}

#seventh-section-card-2 {
    bottom: 37%;
    right: 14.5rem;
}

#seventh-section-card-3 {
    bottom: 57.5%;
    left: 23rem;
}

#seventh-section-card-4 {
    right: 14.5rem;
    bottom: 57%;
}

#seventh-section-card-5 {
    bottom: 82.5%;
    left: 23rem;
}

.biology-seventh-section-picture {
    position: absolute;
    z-index: 1;
}

#seventh-section-image-1 {
    width: 6.75rem;

    left: 18.5%;
    top: 10rem;
}

#seventh-section-image-2 {
    width: 9.8125rem;

    right: 26%;
    top: 13%;
}

#seventh-section-image-3 {
    width: 9.625rem;
    height: 9.625rem;

    right: 7rem;
    top: 14.5%;
}

#seventh-section-image-4 {
    width: 7.188rem;
    height: 7.188rem;

    right: 7rem;
    top: 25%;
}

#seventh-section-image-5 {
    width: 6.0625rem;
    height: 6.25rem;

    right: 4.5rem;
    bottom: 32%;
}

#seventh-section-image-6 {
    width: 10.9375rem;
    height: 10.9375rem;

    right: 1.5rem;
    bottom: 17%;
}

#seventh-section-image-7 {
    width: 6.875rem;
    height: 6.875rem;

    right: 15%;
    bottom: 3rem;
}

#seventh-section-image-8 {
    width: 6.625rem;
    height: 6.625rem;

    right: 1rem;
    bottom: 2rem;
}

#seventh-section-image-9 {
    width: 5.6875rem;
    height: 5.5625rem;

    left: 40%;
    bottom: 7rem;
}

#seventh-section-image-10 {
    width: 9.3125rem;
    height: 9.3125rem;

    left: 10.5rem;
    bottom: 16%;
}

#seventh-section-image-11 {
    width: 7.25rem;

    left: 11.5rem;
    top: 41%;
}

#seventh-section-image-12 {
    height: 6.25rem;

    left: 4rem;
    top: 32%;
}
