.seasons-winter-section-container {
    padding-bottom: 40px;
}

.seasons-winter-bear {
    bottom: 4%;
    left: 4%;
    width: 412px;
    z-index: 1;
}

.seasons-winter-first-subtitle,
.seasons-winter-first-title {
    width: 450px;
}

.seasons-winter-first-snowflake-1 {
    top: 13%;
    left: 79%;
    width: 27px;
}

.seasons-winter-first-snowflake-2 {
    top: 17%;
    left: 90%;
    width: 68px;
    height: 70px;
}

.seasons-winter-first-snowflake-3 {
    top: 36%;
    left: 84%;
    width: 40px;
}

.seasons-winter-first-snowflake-4 {
    top: 50%;
    left: 83%;
    width: 106px;
}

.seasons-winter-first-section-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    row-gap: 8px;
    max-width: 968px;
    margin: 20px 0px 108px 0px;
}

@media (max-width:1024px) {
    .seasons-winter-bear {
        width: 230px;
        z-index: 3;
        top: 75%;
    }
}


@media (max-width: 768px) {
    .seasons-winter-bear {
        top: 72%;
        left: 2%;
        width: 300px;
        z-index: 2;
    }

    .seasons-winter-first-snowflake-4 {
        width: 68px;
        top: 7%;
        left: 76%;
    }

    .seasons-winter-first-snowflake-3 {
        width: 26px;
        height: 26px;
        top: 18%;
        left: 86%;
    }

    .seasons-winter-first-snowflake-2 {
        width: 40px;
        height: 41px;
        top: 15%;
        left: 10%;
    }

    .seasons-winter-first-snowflake-1 {
        width: 26px;
        height: 26px;
        top: 7%;
        left: 10%;
    }
}

@media (max-width: 425px) {
    .seasons-winter-bear {
        top: 81%;
        left: 35%;
        width: 210px;
        z-index: 3;
    }

    .seasons-winter-first-snowflake-4 {
        width: 68px;
        top: 2%;
        left: 72%;
    }

    .seasons-winter-first-snowflake-3 {
        width: 26px;
        height: 26px;
        top: 12%;
        left: 78%;
    }

    .seasons-winter-first-snowflake-2 {
        width: 40px;
        height: 41px;
        top: 13%;
        left: 12%;
    }

    .seasons-winter-first-snowflake-1 {
        width: 26px;
        height: 26px;
        top: 4%;
        left: 12%;
    }
}

@media (max-width: 375px) {
    .seasons-winter-bear {
        top: 84%;
        left: 27%;
        width: 190px;
        z-index: 3;
    }
}

@media (max-width: 320px) {
    .seasons-winter-bear {
        top: 85%;
        left: 18%;
        width: 210px;
        z-index: 3;
    }

    .seasons-winter-first-snowflake-4 {
        width: 68px;
        top: 2%;
        left: 69%;
    }

    .seasons-winter-first-snowflake-3 {
        width: 26px;
        height: 26px;
        top: 16%;
        left: 82%;
    }

    .seasons-winter-first-snowflake-2 {
        width: 40px;
        height: 41px;
        top: 15%;
        left: 3%;
    }

    .seasons-winter-first-snowflake-1 {
        width: 26px;
        height: 26px;
        top: 7%;
        left: 8%;
    }
}