.content-image-card {
    width: var(--card-max-w, 270px);

    display: flex;
    flex-direction: column;

    transition: var(--transition-duration, .35s);
    background-color: var(--section-container-secondary-bg, #FFFFFF);
    box-shadow: var(--card-box-shadow, 0 2px 1px -1px rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.14));
}

.content-image-card.small {
    width: var(--small-card-max-w, 220px);
}

.content-image-card .image-container {
    max-width: var(--card-max-w, 270px);
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.content-image-card .image-container img {
    width: 80%;
    height: auto;
}

.content-image-card .image-container.primary {
    background-color: var(--section-container-primary-bg, #289FF5);
}

.content-image-card .card-description {
    max-width: var(--card-max-w, 270px);

    text-wrap: wrap;
    padding: 16px;
}

.content-image-card .additional-info-button {
    max-width: var(--card-max-w, 270px);

    text-wrap: wrap;
    padding: 16px;
}