.mobile-table-wrapper {
    margin-top: 40px;
    padding: 24px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-table {
    max-width: 1200px;
}

.mobile-empty-cell {
    height: 40px;
    cursor: auto;
    pointer-events: none;
}

.mobile-cells {
    max-width: 1200px;
    display: -ms-grid;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.period-line {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.period-line > h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.mobile-elements {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}
