.home-page {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECEEE1;
    overflow: hidden;
    position: relative;
}
