.content-section-alert-wrapper {
    max-width: 1200px;
    min-width: 100px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .content-section-alert-wrapper {
        margin: 0 20px;
    }
}

.kza-third-section .default-image-card {
    width: 300px;
}

.kza-third-section .default-image-card-image-container img {
    max-height: none;
    max-width: none;
    width: 100%;
    height: 100%;
}

.kza-third-section .default-image-card-image-container {
    max-height: 300px;
}

.kza-third-section .default-image-card-label {
    color: #8a2f17;
    font-weight: 400;
}

.kza-third-section .default-image-card-title {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;
}
