.safety-in-nature-second-section {
    overflow: hidden;
    position: relative;
    background: linear-gradient(358.22deg, #62b3a3 3.44%, #d0dfa8 96.42%);
}

.safety-in-nature-second-img {
    width: 529px;
    height: 879px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -7%;
}

.safety-in-nature-second-content {
    margin: 56px 0 133px;
    z-index: 1;
}

.safety-in-nature-second-title {
    background-color: #E4ECEA;
    padding: 24px;
    margin-bottom: 43px;
    margin-inline: auto;
    max-width: 1018px;
    border-radius: 10px;
    text-align: center;
}

.safety-in-nature-second-title h2 {
    color: #1B847C;
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 107%;
}

.safety-in-nature-second-title p {
    color: #B1D6CE;
    font-size: 24px;
    font-weight: 700;
}

.safety-in-nature-second-carousel-cards {
    margin: 0 auto 78px;
}

.safety-in-nature-second-carousel .kaz-tarih-carousel-container {
    display: flex;
    gap: 53px;
}

.safety-in-nature-second-carousel-card-0 {
    margin-left: 105px;
}


@media (max-width: 1024px) {
    .safety-in-nature-second-carousel-card-0 {
        margin-left: 45px;
    }
}

@media (max-width: 880px) {
    .safety-in-nature-second-title {
        margin-inline: 15px;
    }
}

@media (max-width: 768px) {
    .safety-in-nature-second-title h2 {
        font-size: 38px;
    }

    .safety-in-nature-second-title p {
        font-size: 20px;
    }

    .safety-in-nature-second-carousel .kaz-tarih-carousel-container {
        gap: 41px;
    }
}

@media (max-width: 500px) {
    .safety-in-nature-second-carousel-card-0 {
        margin-left: 35px;
    }

    .safety-in-nature-second-title h2 {
        font-size: 30px;
    }

    .safety-in-nature-second-title p {
        font-size: 18px;
    }
}