.physics-fourth-section {
    width: 100%;
    justify-content: center;
    padding: 0px 40px;
}

.physcs-fourth-section-title {
    padding: 0px 80px;
}

.ds-card-wrapper {
    color: white;
}

.physics-fourth-section-content-wrapper {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    position: relative;
    width: 100%;
    max-width: 275px;
    min-width: 174px;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 127px;
    max-height: 224px;
    border-radius: 0 !important;
    border: 2px solid white;
}

.card button,
[class*="MuiCardMedia-img"] {
    height: 100%;
}

.card-content {
    padding: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    pointer-events: none;
}

.card-content img {
    width: 120px;
    height: 120px;
}


.section-right{
    animation: slideRight 0.8s ease;
}

.section-left{
    animation: slideLeft 0.8s ease;
}

@keyframes slideRight{
    from{
        opacity:0;
        transform: translateX(200px);
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes slideLeft{
    from{
        opacity:0;
        transform: translateX(-200px);
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
}