.background-layer {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0.5;

    &.desktop {
        display: block;
    }

    & .mobile {
        display: none;
    }
}

@media screen and (max-width: 468px) {
    .background-layer {
        top: -5%;
        left: 0;
        width: 130%;
        height: 110%;
        opacity: 1;

        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }
}
