.examples-section {
    background: #ECEEE1;
    padding: 32px 0 !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    h2 {
        font-size: 48px;
        font-family: var(--technical-font), "Montserrat", sans-serif;
        color: black;
        padding-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .examples-section {
        h2 {
            font-size: 24px !important;
        }
    }
}