.pt3d-root {
    position: relative;
    width: 90%;
    height: 70vh;
    min-height: 520px;
}

.pt3d-container {
    position: absolute;
    inset: 0;
}

.pt3d-menu {
    position: absolute;
    bottom: 16px;
    left: 0; right: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    pointer-events: auto;
    background-color: transparent;
    z-index: 3;
}

.pt3d-element {
    width: 120px;
    height: 160px;
    font-family: Inter, Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    position: relative;
}

.pt3d-number {
    position: absolute;
    top: 12px; right: 12px;
    font-size: 12px;
    color: #ffffff;
}

.pt3d-symbol {
    position: absolute;
    top: 40px; left: 0; right: 0;
    font-size: 60px;
    font-weight: 800;
    color: rgba(255,255,255,0.85);
    text-shadow: 0 0 7px #ffffff;
}

.pt3d-details {
    position: absolute;
    bottom: 14px; left: 0; right: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.85);
}
