.sound-card-wrapper {
    display: flex;
    gap: 24px;
    padding: 44px 0;
    color: #e6bb86;

    --sound-card-img-size: 242px;
    --sound-card-instrument-size: 200px;
}

.light h3,
.light .sound-card-content > p {
    color: #522f1b;
}

.sound-card-wrapper.img-right {
    flex-direction: row-reverse;
}

.sound-card-img {
    width: 242px;
    height: 242px;
}

.sound-card-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 886px;
}

.sound-card-content h3 {
    font-size: 48px;
}

@media (max-width: 768px) {
    .sound-card-img {
        width: 185px;
        height: 185px;
    }

    .sound-card-content {
        gap: 24px;
    }
}

@media (max-width: 420px) {
    .sound-card-wrapper {
        --sound-card-img-size: 150px;
        gap: 12px;
    }

    .sound-card-img {
        width: 140px;
        height: 140px;
    }

    .sound-card-content {
        gap: 12px;
    }

    .sound-card-content h3 {
        font-size: 30px;
    }
}