.sound-card-wrapper {
    display: flex;
    gap: 24px;
    padding: 44px 0;
    color: #e6bb86;
    --sound-card-img-size: 242px;
}

.light h3,
.light .sound-card-content>p {
    color: #522f1b;
}

.sound-card-wrapper.img-right {
    flex-direction: row-reverse;
}

 .ds-notification {
    cursor:default;
 }


.sound-card-img {
    width: var(--sound-card-img-size);
    height: var(--sound-card-img-size);
    cursor: pointer;
}

.sound-card-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.sound-card-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(10);
    opacity: 0;
    transition: transform 0.4s, opacity 0.6s;
    pointer-events: none;
    z-index: 2; 
}

.sound-card-img-container:active::before {
    transform: scale(0);
    opacity: 1;
    transition: 0s; 
}

.sound-card-img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0%; 
    width: 40%;
    height: 98.5%; 
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.1) 80%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    pointer-events: none;
    animation: sheen 3s forwards;
    animation-iteration-count: infinite;
    z-index: 3; 
}

@keyframes sheen {
    0% {
        left: -20%;
    }
    50%, 100% {
        left: 120%; 
    }
}

.sound-card-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 886px;
}

.sound-card-content h3 {
    font-size: 48px;
}

@media (max-width: 768px) {
    .sound-card-wrapper {
        display: block;
        --sound-card-img-size: 185px;
    }

    .sound-card-content {
        gap: 24px;
    }

    .sound-card-img {
        width: 100%;
        height: auto;
    }

    .sound-card-img-container::after {
    width: 40%;
    height: 100%;
}
}

@media (max-width: 480px) {
    .sound-card-wrapper {
        --sound-card-img-size: 140px;

        gap: 12px;
    }

    .sound-card-img {
        margin-top: 40px;
        border-radius: 5px;
    }

    .sound-card-content {
        gap: 12px;
    }

    .sound-card-content h3 {
        font-size: 30px;
    }
}

.sound-card-button-wrapper {
    width: 100%;
}

.sound-card-button-wrapper:hover {
    cursor: pointer;
}