.rules-block {
    max-width: 564px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border: 1px solid #f50ac6;

    img {
        max-width: 60px !important;
    }

    h2 {
        font-size: 48px;
        font-family: var(--title-font), serif;
    }

    ul {
        li {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    
    .rules-block-card {
        background: #FFFFFF;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }
}