.physics-medical-section {
    width: 100%;
    justify-content: center;
    padding: 40px 90px 36px;
    margin: 0px auto
}

.physics-medical-cards {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 24px;
}


.physics-medical-card p {
    white-space: pre-line;
    align-items: flex-start;
    padding: 0;
}

.medical-list {
    padding-left:16px;
    list-style-type: disc;
}

.physics-medical-card:nth-child(1) .MuiCardContent-root :nth-of-type(n) {
    margin-top: 0px;
}

.physics-medical-card:nth-child(1) .MuiTypography-root:nth-of-type(n) {
    margin-top: 0px;
}

.physics-medical-card:nth-child(2) .MuiCardContent-root ul:nth-of-type(n) {
    margin-top: 15px;
}

.physics-medical-card:nth-child(3) .MuiCardContent-root ul:nth-of-type(n+2) {
    margin-top: 15px;
}

.physics-medical-card:nth-child(4) .MuiCardContent-root ul:nth-of-type(n) {
    margin:10px 0;  
}

.physics-medical-card:nth-child(5) .MuiCardContent-root p:nth-of-type(n) {
    margin-top: 10px;
}