.fire-safety-fifth-section-content-wrapper {
    position: relative;
    z-index: 2;
}

.fire-safety-fifth-section-content-wrapper h2 {
    margin-bottom: 6.375rem;
}

.fire-safety-fifth-section-content-wrapper-background {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.fire-safety-fifth-section-content-wrapper-background-city {
    position: absolute;
    width: 100%;
    bottom: 20rem;
    left: 0;
}

.fire-suppressions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

.fire-safety-fifth-section-content-rules {
    display: flex;
    gap: 5rem;
}

.fire-safety-fifth-section-content-rules {
    display: flex;
    gap: 5rem;
}

.fire-safety-fifth-section-content-rules > * {
    flex: 1;
}

@media screen and (max-width: 1200px) {
.fire-causes {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
}

@media (max-width: 630px) {
.fire-safety-fifth-section-content-wrapper-background-image {
    height: 50rem;
    top: -20rem;
}

.fire-safety-fifth-section-content-rules {
    flex-direction: column;
}

.fire-safety-fifth-section-content-wrapper-background-city {
    width: 70rem;
    left: -20rem;
}
}