.scroll-animated-image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-animated-image-container .scroll-animated-image {
    position: absolute;
    height: 100%;

    transition: transform var(--transition-duration, .35s);
}

.scroll-animated-image-container.right .scroll-animated-image {
    left: 0;
}

.scroll-animated-image-container.left .scroll-animated-image {
    right: 0;
}