.title-card{
    color: #fff;
    letter-spacing: 0.25px;
    text-align: center;
    border: 2px solid #ffffff;
}

.title-card h2{
    font-size: 45px;
}

.title-card h3{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    font-family: var(--text-font);
    font-weight: 400;
    margin-inline: 150px;
}

@media(max-width: 1024px){
    .title-card h3{
        margin-inline: 50px;
    }
}

@media(max-width: 800px){
    .title-card h2{
        font-size: 36px;
    }

    .title-card h3{
        font-size: 1rem;
        margin-inline: 0;
    }
}