.two-column-section {
    width: 100%;
    padding: 44px 20px;
    background-color: transparent;
    z-index: 20;
}

.columns-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.left-column-block,
.right-column-block {;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-column-simple-section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

.left-column-simple-block,
.right-column-simple-block {
    position: relative;
    padding: 44px 24px;
    width: 50%;
}



@media screen and (max-width: 1190px) {
    .left-column-block,
    .right-column-block {;
        width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    .two-column-simple-section {
        justify-content: center;
        gap: 0;
        flex-wrap: wrap;
    }

    .left-column-simple-block,
    .right-column-simple-block {
        width: 100%;
        justify-content: flex-start !important;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    .two-column-section {
        padding: 40px 0;
    }
}

@media screen and (max-width: 687px) {
    .columns-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}
