@media screen and (max-width: 1200px) {
    .kt-cover-section-title {
        font-size: 3.5rem;
        letter-spacing: 40%;
    }

    .kt-cover-section-description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .kt-cover-section-title {
        font-size: 2.75rem;
        letter-spacing: 50%;
    }

    .kt-cover-section-description {
        font-size: 1.188rem;
    }
}

@media screen and (max-width: 800px) {
    .kt-cover-section-title {
        font-size: 2.625rem;

        width: 70%;

        top: 30%;
    }

    .kt-cover-section-description {
        width: 80%;

        position: relative;

        bottom: auto;

        padding-bottom: 2rem;

        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .kt-cover-section-title {
        letter-spacing: 40%;

        width: 80%;

        top: 30%;
    }

    .kt-cover-section-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .kt-cover-section-title {
        top: 25%;
    }
}

@media screen and (max-width: 440px) {
    .kt-cover-section-title {
        width: 100%;

        letter-spacing: 50%;

        top: 20%;
    }
}

@media screen and (max-width: 390px) {
    .kt-cover-section-title {
        letter-spacing: 40%;
    }
}
