.kt-title {
    font-size: 3.125rem;
    line-height: 2.813rem;
}
.kt-description {
    font-size: 1.875rem;
    line-height: 1.875rem;
}

.kt-bg-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.kt-bg-light-img {
    mix-blend-mode: hard-light;
    opacity: 0.5;
}

.kt-bg-dark-img {
    mix-blend-mode: multiply;
}

@media screen and (max-width: 1200px) {
    .kt-cover-section-title {
        font-size: 3.5rem;
        letter-spacing: 40%;
    }

    .kt-cover-section-description {
        font-size: 1.5rem;
    }
    .kt-title {
        font-size: 2.8rem;
        line-height: 2.9rem;
    }
    .kt-description {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1000px) {
    .kt-cover-section-title {
        font-size: 2.75rem;
        letter-spacing: 50%;
    }

    .kt-cover-section-description {
        font-size: 1.188rem;
    }
    .kt-title {
        font-size: 2.6rem;
        line-height: 2.7rem;
    }
    .kt-description {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 800px) {
    .kt-cover-section-title {
        font-size: 2.625rem;

        width: 70%;

        top: 30%;
    }

    .kt-cover-section-description {
        width: 80%;

        position: relative;
        bottom: auto;
        padding-bottom: 2rem;

        font-size: 1rem;
    }
    .kt-title {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }
    .kt-description {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 600px) {
    .kt-cover-section-title {
        letter-spacing: 40%;

        width: 80%;

        top: 30%;
    }

    .kt-cover-section-description {
        font-size: 1rem;
    }
    .kt-title {
        font-size: 2.3rem;
        line-height: 2.31rem;
    }

    .kt-description {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .kt-cover-section-title {
        top: 25%;
    }
    .kt-title {
        font-size: 2.25rem;
        line-height: 2.26rem;
    }
    .kt-description {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 440px) {
    .kt-cover-section-title {
        width: 100%;

        letter-spacing: 50%;

        top: 20%;
    }
}

@media screen and (max-width: 390px) {
    .kt-cover-section-title {
        letter-spacing: 40%;
    }

    .kt-title {
        font-size: 2.18rem;
        line-height: 2.19rem;
    }

    .kt-description {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
