.stub-block {
    width: 564px;
    height: 564px;
    border: 1px solid green;
}

.cards-alert-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    gap: 36px;
}

.background-cards-container {
    padding: 0 5px 5px 0;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    overflow: auto;

    display: flex;
    justify-content: center;

    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: #289FF5 white;
}

.background-cards-container::-webkit-scrollbar {
    height: 6px;
}
.background-cards-container::-webkit-scrollbar-track {
    background: white;
}
.background-cards-container::-webkit-scrollbar-thumb {
    background-color: #289FF5;
    border-radius: 3px;
}

.content-section-alert-wrapper {
    padding: 0 24px;
    max-width: 1200px;
    min-width: 100px;
    margin: auto;
}

.adaptive-content-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: auto;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    gap: 24px;
}

@media screen and (max-width: 1000px) {
    .adaptive-content-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        gap: 24px;
    }
}

@media screen and (max-width: 800px) {
    .cards-alert-container {
        gap: 24px;
    }

    .content-section-alert-wrapper {
        padding: 0 20px;
    }
}
