.kt-eleventh-section {
    width: 100%;

    background-color: #ff002f;
}

.kt-eleventh-section-content {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.kt-eleventh-section-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2.5rem;

    gap: 1.5rem;

    z-index: 2;
}

.kt-eleventh-section-header .kt-title {
    width: 50%;
    text-align: center;
    color: #e2e6ea;
}

.kt-eleventh-section-description {
    width: 80%;
    color: #e2e6ea;

    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.15px;
}

.kt-eleventh-section-ds {
    z-index: 2;

    margin-bottom: 8rem;
}

.kt-eleventh-section-content .text-formatter-title {
    color: #af2128;
}

.kt-eleventh-section-ds .ds-notification-block-list {
    padding-left: 2rem;
}

.kt-eleventh-section-ds .ds-notification-block-wrapper {
    gap: 0;
}

.css-1oymmvh-MuiPaper-root-MuiAlert-root {
    max-width: none !important;
}

.kt-eleventh-section-content .kaz-tarih-carousel-card {
    border-color: #e2e6ea;
    border-radius: 0.25rem;
    padding: 15px;
}

.kt-eleventh-section-content .text-formatter-list-item {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.15px;
}

.kt-eleventh-section-content .text-formatter-title {
    margin-bottom: 10px;
}
