.ruslit-adebiet-page {
    --dark-section-background-color: #892F17;

    --dark-section-title-color: #EBCD91;
    --dark-section-subtitle-color: #EBCD91;
    --dark-section-text-color: #EBCD91;

    --dark-card-background-color: #EBCD91;
    --dark-card-title-color: rgba(0, 0, 0, 0.87);
    --dark-card-label-color: rgba(0, 0, 0, 0.60);
    --dark-card-link-color: #892F17;

    --dark-alert-background-color: #EBCD91;
    --dark-alert-stroke-color: #EFE4D3;
    --dark-alert-text-color: #000000;



    --light-section-background-color: #EBCD91;

    --light-section-title-color: #8A2F17;
    --light-section-subtitle-color: #8A2F17;
    --light-section-text-color: rgba(138, 47, 23, 0.87);

    --light-card-background-color: #FFFFFF;
    --light-card-title-color: rgba(0, 0, 0, 0.87);
    --light-card-label-color: rgba(137, 47, 23, 0.87);
    --light-card-link-color: #892F17;

    --light-alert-background-color: #EFE4D3;
    --light-alert-text-color: #000000;
}