.biology-logo {
    font-family:
        var(--technical-font),
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        sans-serif;
    font-weight: 500;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}

.biology-page {
    overflow: hidden;
}

@media screen and (width <= 580px) {
    .biology-fifth-section {
        height: auto;
    }

    .biology-fifth-section-header {
        width: auto;
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;

        top: 3.5rem;
    }

    .biology-fifth-section-cards-container {
        flex-direction: column;
        align-items: center;
        height: auto;

        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .biology-fifth-section-card {
        max-height: fit-content;
    }

    #fifth-section-card-0 {
        gap: 0.25rem;
    }

    #fifth-section-card-1 {
        flex-direction: column !important;
        align-items: center;
    }

    .header-sixth-section {
        width: 22.125rem;
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .header-sixth-section-wrapper {
        width: 21.88rem;
    }

    .sixth-section-cards-container {
        margin-top: 3rem;
        gap: 2rem;
    }

    .sixth-section-notification-block {
        margin: 2rem 1rem 1rem;
    }

    .biology-seventh-section {
        height: auto;
    }

    .biology-seventh-section-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .biology-seventh-section-header-block {
        position: relative;
        top: 3rem;
        width: 21.88rem;
        height: 20.375rem;
    }

    .header-seventh-section {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .biology-seventh-section-cards-container {
        margin-top: 1.5rem;

        padding: 0 1rem;
    }

    .biology-seventh-section-card {
        position: static;
        width: auto;
    }

    .biology-seventh-section-content {
        margin-bottom: 2rem;
    }

    .biology-seventh-section-background-images-container {
        display: none;
    }
}

@media screen and (580px < width <= 600px) {
    .biology-fifth-section {
        height: auto;
    }

    .biology-fifth-section-header {
        width: 21.88rem;
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;

        top: 3.5rem;
    }

    .biology-fifth-section-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .biology-fifth-section-card {
        max-height: fit-content;
    }

    #fifth-section-card-0 {
        gap: 0.25rem;
    }

    .header-sixth-section {
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;
    }

    .header-sixth-section-wrapper {
        position: relative;
        top: -1rem;
        width: 21.88rem;
    }

    .sixth-section-cards-container {
        margin-top: 1.5rem;
        gap: 2rem;
    }

    .sixth-section-notification-block {
        margin: 2rem 1rem 1rem;
    }

    .biology-seventh-section {
        height: auto;
    }

    .biology-seventh-section-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .biology-seventh-section-header-block {
        position: relative;
        top: 1.5rem;
        width: 25rem;
        height: 20.375rem;
    }

    .header-seventh-section {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .biology-seventh-section-cards-container {
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .biology-seventh-section-card {
        position: static;
    }

    .biology-seventh-section-content {
        margin-bottom: 2rem;
    }

    .biology-seventh-section-background-images-container {
        display: none;
    }
}

@media screen and (600px < width <= 800px) {
    .biology-fifth-section {
        height: auto;
    }

    .biology-fifth-section-header {
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;
        margin: 2rem 0;

        top: 5rem;
    }

    .biology-fifth-section-cards-container {
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        align-items: center;

        padding: 0 1rem;

        margin-bottom: 2rem;
    }

    .biology-fifth-section-card {
        max-height: fit-content;
    }

    #fifth-section-card-0 {
        gap: 0.25rem;
    }

    .biology-seventh-section {
        height: auto;
    }

    .biology-seventh-section-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .biology-seventh-section-header-block {
        position: relative;
        top: 2rem;
    }

    .header-seventh-section {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .biology-seventh-section-cards-container {
        margin-top: 1.5rem;

        padding: 0 1rem;
    }

    .biology-seventh-section-card {
        position: static;
    }

    .biology-seventh-section-content {
        margin-bottom: 2rem;
    }

    .biology-seventh-section-background-images-container {
        display: none;
    }
}

@media screen and (800px < width <= 1180px) {
    .biology-fifth-section {
        height: auto;
    }

    .biology-fifth-section-header {
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;
        margin: 2rem 0;

        top: 5rem;
    }

    .biology-fifth-section-cards-container {
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;

        padding: 0 1rem;

        margin-bottom: 2rem;
    }

    .biology-fifth-section-card {
        max-height: fit-content;
    }

    #fifth-section-card-0 {
        gap: 0.25rem;
        padding-bottom: 2rem;
    }

    #fifth-section-card-1 {
        padding-bottom: 2rem;
    }

    .biology-seventh-section {
        height: auto;
    }

    .biology-seventh-section-cards-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .biology-seventh-section-header-block {
        position: relative;
        top: 2rem;
    }

    .header-seventh-section {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .biology-seventh-section-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 1.5rem;
        padding: 0 1rem;
    }

    .biology-seventh-section-card {
        position: static;
    }

    .biology-seventh-section-content {
        margin-bottom: 2rem;
    }

    #seventh-section-image-1 {
        left: 5%;
        top: 10rem;
    }

    #seventh-section-image-2 {
        display: none;
    }

    #seventh-section-image-3 {
        right: 1.5rem;
        top: 9%;
    }

    #seventh-section-image-4 {
        right: 8rem;
        top: 25%;
    }

    #seventh-section-image-5 {
        right: 6.5rem;
        bottom: 32%;
    }

    #seventh-section-image-6 {
        right: 5.25rem;
        bottom: 17%;
    }

    #seventh-section-image-8 {
        right: 1.5rem;
        bottom: 3.5rem;
    }

    #seventh-section-image-10 {
        left: 6.5rem;
        bottom: 16%;
    }

    #seventh-section-image-11 {
        left: 5rem;
        top: 41%;
    }

    #seventh-section-image-12 {
        left: 4rem;
        top: 32%;
    }

    #seventh-section-image-7,
    #seventh-section-image-9 {
        display: none;
    }
}

@media screen and (1180px < width <= 1200px) {
    .biology-fifth-section {
        height: auto;
    }

    .biology-fifth-section-header {
        width: auto;
        font-size: 2.25rem;
        letter-spacing: -1.5px;
        line-height: 120%;
        margin: 2rem 0;

        top: 5rem;
    }

    .biology-fifth-section-cards-container {
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;

        padding: 0 1rem;

        margin-bottom: 2rem;
    }

    .biology-fifth-section-card {
        max-height: fit-content;
    }

    #fifth-section-card-0 {
        gap: 0.25rem;
        padding-bottom: 2rem;
    }

    #fifth-section-card-1 {
        padding-bottom: 2rem;
    }

    .biology-seventh-section-cards-container {
        position: relative;
        right: 4rem;
    }

    #seventh-section-image-1 {
        left: 12%;
        top: 10rem;
    }

    #seventh-section-image-2 {
        right: 26%;
        top: 13.25%;
    }

    #seventh-section-image-3 {
        right: 0.25rem;
        top: 14.5%;
    }

    #seventh-section-image-7 {
        right: 15%;
        bottom: 6rem;
    }

    #seventh-section-image-8 {
        right: 0.25rem;
        bottom: 1rem;
    }

    #seventh-section-image-9 {
        left: 30%;
        bottom: 7rem;
    }

    #seventh-section-image-4,
    #seventh-section-image-5,
    #seventh-section-image-6,
    #seventh-section-image-10,
    #seventh-section-image-11,
    #seventh-section-image-12 {
        display: none;
    }
}
