.kt-eighth-section {
    width: 100%;
    background-color: #4d2811;
}

.kt-eighth-section-content {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    z-index: 0;
}

.kt-eight-bg-img {
    mix-blend-mode: multiply;
    opacity: 0.4;
}

.kt-eighth-section .kt-background-img {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;

    z-index: 1;

    opacity: 0.5;
}

.kt-eighth-section-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2.5rem;

    gap: 1.5rem;

    z-index: 2;
}

.kt-eighth-section-header .kt-title {
    width: 50%;
    text-align: center;

    color: #ffffff;
}

.kt-eighth-section-header .kt-description {
    max-width: 1152px;
    width: 70%;

    color: #f9f8f7;
}

.kt-eighth-section-content .kaz-tarih-carousel {
    margin-inline: 20px;
}

.kt-eighth-section-cards-container {
    max-width: 1152px;
    width: fit-content;
    margin-inline: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1.5rem;

    z-index: 2;
}

.kt-eighth-section-ds {
    z-index: 2;

    margin-bottom: 2rem;
}

.kt-eighth-section-ds .list {
    gap: 0;
}

.css-1kuwa16-MuiCardMedia-root {
    padding: 1rem;
}

.kt-eighth-section-ds .ds-notification-block-list {
    padding-left: 2rem;
}

.kt-eighth-section-ds .ds-notification-block-wrapper {
    gap: 0;
}

.kt-eighth-section .css-a1m80h-MuiTypography-root,
.kt-eighth-section .css-kminll-MuiTypography-root {
    font-family: "Ubuntu";
}

.kt-eighth-section .css-a1m80h-MuiTypography-root {
    font-weight: 500;
}
