.ds-cards-wrapper {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
}

@media screen and (max-width: 1000px) {
    .ds-cards-wrapper {
        padding: 0 24px;
    }
}

@media screen and (max-width: 800px) {
    .ds-cards-wrapper {
        padding: 0 16px;
    }
}