.physcs-architecture-section-title p{
    font-size:14px;
}

.physics-architecture-section {
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
}

.physcs-architecture-section-title {
    padding: 44px 80px 36px;
}

.physcs-architecture-section-title p{
    margin-top: 16px;
}

.physics-architecture-cards {
    margin-top: 20px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 24px;
}



.physics-architecture-card {
    /* width: 300px;  */
    height: 90%;
    padding: 0;

}

.physics-architecture-card p {
    white-space: pre-line;
    align-items: flex-start;
}