.default-image-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
    transition: all 0.2s ease-in-out;
}

.default-image-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
                0px 2px 4px -1px rgba(0, 0, 0, 0.06),
                0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.default-image-card-image-container {
    padding: 24px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.image-size-normal {
    height: 286px;
}

.image-size-small {
    height: 198px;
}

.default-image-card-image-container img {
    max-width: 238px;
    max-height: 174px;
    user-select: none;
}

.default-image-card-description-container {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.default-image-card-label,
.default-image-card-description-container p {
    font-weight: 400;
    font-size: 16px;
    color: #00000099;
}

.default-image-card-description-container h4 {
    font-size: 18px;
    font-weight: 500;
}

.default-image-card-ol-container {
    padding-left: 24px;
}

.default-image-card-ol-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #00000099;
}

.default-image-card-description-container button {
    justify-content: flex-start;
    padding: 8px 5px;
    margin-top: 8px;
    margin-left: -5px;
}

@media (max-width: 800px) {
    .default-image-card-description-container p {
        font-size: 16px;
        font-weight: 500;
    }

    .default-image-card-description-container h4 {
        font-size: 16px;
    }
}
