.square-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.square-card-content,
.square-card-label-wrapper {
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.square-card-image {
    flex: 0.4;
}

.square-card-image img {
    width: 100%;
}

.square-card ul {
    margin-left: 1rem;
}
