.kaz-music-logo {
    font-family: var(--technical-font), serif;
    font-weight: 600;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
}