.ds-notification,
.ds-notification div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding-left: 20px;
}

.mark-none{
    list-style-type: none;
    padding-left: 0;
    margin-left: none;
}