.english-logo {
    font-family:
        var(--technical-font),
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}

.english-page {
    overflow: hidden;
}

.english-section-title {
    font-size: 2.813rem;
    font-weight: bold;
    line-height: 3.25rem;
    letter-spacing: 0;
    text-align: center;

    color: #ffffff;
}

.english-section-description {
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 133.4%;
    text-align: center;

    text-align: center;

    color: #ffffff;
}

.english-section-description {
    font-size: 1rem;
    letter-spacing: 0px;
    line-height: 133.4%;
    text-align: center;
}

@media (max-width: 390px) {
    .english-cover-section-content {
        flex-direction: column;
        margin-top: 3rem;
    }

    .english-cover-section-title {
        width: 100%;
        margin-left: 0;

        font-size: 3.75rem;
        line-height: 3.125rem;
        letter-spacing: 0px;
        text-align: center;
    }

    .english-cover-section-background-image {
        width: auto;
    }

    .english-cover-section-blocks-container {
        display: none;
    }

    .english-first-section-blocks-container {
        flex-direction: column;
        align-items: center;

        gap: 0;
    }

    .english-first-section-block {
        width: 90%;
    }

    .english-first-section-content {
        gap: 0;
    }

    .english-first-section .english-section-title {
        margin-top: 6%;
    }

    .english-second-section-header {
        gap: 0.75rem;
        margin-bottom: 2rem;
    }

    .english-second-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-second-section .english-section-description {
        width: 75%;
    }

    .english-second-section-block {
        width: 90%;
        position: static;
    }

    .english-second-section-blocks-container {
        gap: 4rem;
        margin-bottom: 12%;
    }

    .english-second-section-block .info-block-image-wrapper {
        width: 35%;
    }

    #english-second-section-block-2 .info-block-image-wrapper {
        width: 25%;
    }

    .english-second-section-block .info-block-label-wrapper {
        width: 100%;
        position: static;
    }

    .english-third-section-header {
        gap: 0.75rem;
    }

    .english-third-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-third-section .english-section-description {
        width: 85%;
    }

    .english-third-section-content {
        flex-direction: column;
    }

    .english-third-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;

        gap: 1rem;
    }

    .english-third-section-block {
        margin-bottom: 0;
        width: 90%;
    }

    .english-third-section-image-wrapper {
        width: 70%;
    }

    .english-fourth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fourth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-fourth-section .english-section-description {
        width: 85%;
    }

    .english-fourth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .english-fourth-section-block {
        width: 90%;
    }

    .english-fifth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fifth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-fifth-section .english-section-description {
        width: 85%;
    }

    .english-fifth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .english-fifth-section-block {
        width: 75%;
    }

    .english-sixth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-sixth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-sixth-section .english-section-description {
        width: 85%;
    }

    .english-sixth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .english-seventh-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-seventh-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-seventh-section .english-section-description {
        width: 85%;
    }

    .english-seventh-section-content {
        flex-direction: column-reverse;
    }

    .english-seventh-section-blocks-container {
        width: 100%;
        align-items: center;
        transform: none;
    }

    .english-seventh-section-block {
        width: 90%;
    }

    .english-seventh-section-image-wrapper {
        width: 90%;
    }

    .english-eighth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
        width: 80%;

        margin-bottom: 1rem;
    }

    .english-eighth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        margin-bottom: 8%;
    }

    .english-eighth-section-block {
        width: 90%;
    }

    .english-nineth-section-header {
        width: 100%;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-nineth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-nineth-section .english-section-description {
        width: 85%;
    }

    .english-nineth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        margin-bottom: 2rem;
    }

    .english-nineth-section-block {
        width: 90%;
    }

    .english-nineth-section .table-block {
        width: 90%;
    }

    .english-nineth-section .table-block-content {
        flex-direction: column;
        align-items: center;
    }

    .english-nineth-section .table-block-grid {
        column-gap: 2rem;
        row-gap: 1rem;
    }
}

@media ((min-width: 390px) and (max-width: 600px)) {
    .english-cover-section-title {
        width: 100%;
        font-size: 4rem;
        text-align: center;
        margin-left: 0;
    }

    .english-cover-section-background-image {
        width: auto;
    }

    .english-cover-section-blocks-container {
        display: none;
    }

    .english-cover-section-content {
        flex-direction: column;
    }

    .english-first-section-blocks-container {
        flex-direction: column;
        align-items: center;

        gap: 0;
    }

    .english-first-section-block {
        width: 80%;
    }

    .english-first-section-content {
        gap: 0;
    }

    .english-first-section .english-section-title {
        margin-top: 6%;
    }

    .english-second-section-header {
        gap: 0.75rem;
        margin-bottom: 2rem;
    }

    .english-second-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-second-section .english-section-description {
        width: 75%;
    }

    .english-second-section-block {
        width: 90%;
        position: static;
    }

    .english-second-section-blocks-container {
        gap: 4rem;
        margin-bottom: 12%;
    }

    .english-second-section-block .info-block-image-wrapper {
        width: 25%;
    }

    #english-second-section-block-2 .info-block-image-wrapper {
        width: 20%;
    }

    .english-second-section-block .info-block-label-wrapper {
        width: 100%;
        position: static;
    }

    .english-third-section-header {
        gap: 0.75rem;
    }

    .english-third-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-third-section .english-section-description {
        width: 85%;
    }

    .english-third-section-content {
        flex-direction: column;
    }

    .english-third-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;

        gap: 1.5rem;
    }

    .english-third-section-block {
        margin-bottom: 0;
        width: 90%;
    }

    .english-third-section-image-wrapper {
        width: 70%;
    }

    .english-fourth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fourth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-fourth-section .english-section-description {
        width: 85%;
    }

    .english-fourth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .english-fourth-section-block {
        width: 90%;
    }

    .english-fifth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fifth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-fifth-section .english-section-description {
        width: 85%;
    }

    .english-fifth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .english-fifth-section-block {
        width: 75%;
    }

    .english-sixth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-sixth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-sixth-section .english-section-description {
        width: 85%;
    }

    .english-sixth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .english-sixth-section-block {
        width: 90%;
    }

    .english-seventh-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-seventh-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-seventh-section .english-section-description {
        width: 85%;
    }

    .english-seventh-section-content {
        flex-direction: column-reverse;
    }

    .english-seventh-section-blocks-container {
        width: 100%;
        align-items: center;
        transform: none;
    }

    .english-seventh-section-block {
        width: 90%;
    }

    .english-seventh-section-image-wrapper {
        width: 90%;
    }

    .english-eighth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
        width: 80%;

        margin-bottom: 1rem;
    }

    .english-eighth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        margin-bottom: 8%;
    }

    .english-eighth-section-block {
        width: 90%;
    }

    .english-nineth-section-header {
        width: 100%;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-nineth-section .english-section-title {
        font-size: 1.875rem;
        line-height: 2.188rem;
    }

    .english-nineth-section .english-section-description {
        width: 85%;
    }

    .english-nineth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        margin-bottom: 2rem;
    }

    .english-nineth-section-block {
        width: 90%;
    }

    .english-nineth-section .table-block {
        width: 90%;
    }

    .english-nineth-section .table-block-content {
        flex-direction: column;
        align-items: center;
    }

    .english-nineth-section .table-block-grid {
        column-gap: 2rem;
        row-gap: 1rem;
    }
}

@media screen and ((min-width: 600px) and (max-width: 800px)) {
    .english-cover-section-title {
        width: 100%;
        font-size: 5rem;
        text-align: center;
        margin-left: 0;
    }

    .english-cover-section-background-image {
        width: auto;
    }

    .english-cover-section-blocks-container {
        display: none;
    }

    .english-cover-section-content {
        flex-direction: column;
    }

    .english-first-section-blocks-container {
        flex-direction: column;
        align-items: center;

        gap: 0;
    }

    .english-first-section-block {
        width: 60%;
    }

    .english-first-section-content {
        gap: 0;
    }

    .english-first-section .english-section-title {
        margin-top: 6%;
    }

    .english-second-section-header {
        gap: 0.75rem;
        margin-bottom: 2rem;
    }

    .english-second-section .english-section-description {
        width: 75%;
    }

    .english-second-section-block {
        width: 80%;
        position: static;
    }

    .english-second-section-blocks-container {
        margin-bottom: 8%;
    }

    .english-second-section-block .info-block-image-wrapper {
        width: 20%;
    }

    #english-second-section-block-2 .info-block-image-wrapper {
        width: 15%;
    }

    .english-third-section-header {
        gap: 0.75rem;
    }

    .english-third-section .english-section-description {
        width: 60%;
    }

    .english-third-section-content {
        flex-direction: column;
    }

    .english-third-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
    }

    .english-third-section-block {
        margin-bottom: 0;
        width: 75%;
    }

    .english-third-section-image-wrapper {
        width: 50%;
    }

    .english-fourth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fourth-section .english-section-description {
        width: 85%;
    }

    .english-fourth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .english-fourth-section-block {
        width: 75%;
    }

    .english-fifth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fifth-section .english-section-description {
        width: 85%;
    }

    .english-fifth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .english-fifth-section-block {
        width: 55%;
    }

    .english-sixth-section-header {
        width: 85%;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-sixth-section-blocks-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .english-sixth-section-block {
        width: 90%;
    }

    .english-seventh-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-seventh-section .english-section-description {
        width: 85%;
    }

    .english-seventh-section-content {
        flex-direction: column-reverse;
    }

    .english-seventh-section-blocks-container {
        width: 100%;
        align-items: center;
        transform: none;

        gap: 2rem;
    }

    .english-seventh-section-block {
        width: 75%;
    }

    .english-seventh-section-image-wrapper {
        width: 75%;
    }

    .english-eighth-section .english-section-title {
        width: 80%;

        margin-bottom: 1rem;
    }

    .english-eighth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        margin-bottom: 8%;
    }

    .english-eighth-section-block {
        width: 75%;
    }

    .english-nineth-section-header {
        width: 90%;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-nineth-section .english-section-description {
        width: 85%;
    }

    .english-nineth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        margin-bottom: 2rem;
    }

    .english-nineth-section-block {
        width: 75%;
    }

    .english-nineth-section .table-block {
        width: 75%;
    }

    .english-nineth-section .table-block-content {
        flex-direction: column;
        align-items: center;
    }

    .english-nineth-section .table-block-grid {
        column-gap: 3rem;
        row-gap: 1.5rem;
    }
}

@media screen and ((min-width: 800px) and (max-width: 1000px)) {
    .english-cover-section-title {
        width: 100%;
        font-size: 6rem;
        text-align: center;
        margin-left: 0;
    }

    .english-cover-section-background-image {
        width: auto;
    }

    .english-cover-section-blocks-container {
        display: none;
    }

    .english-first-section-blocks-container {
        gap: 0;
    }

    .english-first-section-block {
        width: 30%;
    }

    .english-first-section-content {
        gap: 1rem;
    }

    .english-first-section .english-section-title {
        margin-top: 6%;
    }

    .english-second-section-header {
        margin-bottom: 2rem;
    }

    .english-second-section .english-section-description {
        width: 65%;
    }

    .english-second-section-block {
        width: 80%;
        position: static;
    }

    .english-second-section-blocks-container {
        gap: 4rem;
        margin-bottom: 6%;
    }

    .english-second-section-block .info-block-image-wrapper {
        width: 15%;
    }

    #english-second-section-block-2 .info-block-image-wrapper {
        width: 12%;
    }

    .english-third-section-header {
        gap: 0.75rem;
    }

    .english-third-section .english-section-description {
        width: 55%;
    }

    .english-third-section-content {
        flex-direction: column;
    }

    .english-third-section-blocks-container {
        width: 100%;
        flex-direction: row;
        align-items: center;

        gap: 2rem;
    }

    .english-third-section-block {
        margin-bottom: 0;
        width: 40%;
    }

    .english-third-section-image-wrapper {
        width: 45%;
    }

    .english-fourth-section-header {
        gap: 0.75rem;
    }

    .english-fourth-section .english-section-description {
        width: 85%;
    }

    .english-fourth-section-blocks-container {
        align-items: center;
    }

    .english-fourth-section-block {
        width: 45%;
    }

    .english-fifth-section-header {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-fifth-section .english-section-description {
        width: 65%;
    }

    .english-fifth-section-blocks-container {
        flex-direction: column;
        align-items: center;
    }

    .english-fifth-section-block {
        width: 45%;
    }

    .english-sixth-section-blocks-container {
        align-items: center;
        flex-wrap: wrap;
    }

    .english-seventh-section .english-section-description {
        width: 65%;
    }

    .english-seventh-section-content {
        flex-direction: column-reverse;
    }

    .english-seventh-section-blocks-container {
        width: 100%;
        align-items: center;
        transform: none;

        gap: 2rem;
    }

    .english-seventh-section-block {
        width: 55%;
    }

    .english-seventh-section-image-wrapper {
        width: 55%;
    }

    .english-eighth-section .english-section-title {
        width: 80%;
    }

    .english-eighth-section-blocks-container {
        width: 100%;
        align-items: center;

        margin-bottom: 8%;
    }

    .english-nineth-section-header {
        width: 80%;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .english-nineth-section-blocks-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        margin-bottom: 2rem;
    }

    .english-nineth-section-block {
        width: 65%;
    }

    .english-nineth-section .table-block {
        width: 65%;
    }
}

@media screen and ((min-width: 1000px) and (max-width: 1200px)) {
    .english-cover-section-title {
        margin-left: 2%;
    }

    .english-cover-section-blocks-container {
        left: 10%;
    }

    .english-first-section-blocks-container {
        gap: 0;
    }

    .english-first-section-block {
        width: 30%;
    }

    .english-first-section-content {
        gap: 1rem;
    }

    .english-first-section .english-section-title {
        margin-top: 6%;
    }

    .english-second-section .english-section-description {
        width: 55%;
    }

    .english-second-section-blocks-container {
        gap: 4rem;
        margin-bottom: 6%;
    }

    .english-second-section-block {
        width: 50%;
    }

    #english-second-section-block-1 {
        left: 22%;
    }

    .english-fifth-section .english-section-description {
        width: 65%;
    }

    .english-fifth-section-block {
        width: 25%;
    }

    .english-sixth-section-paragraph {
        padding: 0 2rem;
    }

    .english-seventh-section-blocks-container {
        width: 100%;
        align-items: center;
        transform: none;
    }

    .english-seventh-section-block {
        width: 75%;
    }

    .english-seventh-section-image-wrapper {
        width: 80%;
    }

    .english-eighth-section .english-section-title {
        width: 80%;
    }

    .english-eighth-section-blocks-container {
        margin-bottom: 8%;
    }

    .english-nineth-section-header {
        width: 70%;
    }
}

@media screen and ((min-width: 1200px) and (max-width:  1400px)) {
    .english-cover-section-blocks-container {
        left: 10%;
    }
}
