.child-card-wrapper {
    padding: 12px 24px;
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 1);
}

.child-card-wrapper p {
    line-height: 24px;
}

.child-card-wrapper img {
    margin-top: 10px;
    display: block;
    margin-inline: auto;
}

.child-card-img-0 {
    max-width: 331px;
}

.child-card-img-1 {
    max-width: 161px;
}

.child-card-img-2 {
    max-width: 406px;
}

.child-card-img-3 {
    max-width: 420px;
}

.child-card-img-4 {
    max-width: 395px;
}

.child-card-img-5 {
    max-width: 271px;
}