.animated-traffic-light {
    width: 100%;
    max-width: 564px;
    padding: 40px 0 40px 20px;
    box-sizing: border-box;
}

.animated-traffic-light-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: flex-end; */
}

.animated-traffic-light-wrapper .hovered-block {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animated-traffic-light-wrapper .hovered-block img {
    width: 100%;
}

.animated-traffic-light-wrapper .hovered-block.active {
    opacity: 1;
}

.traffic-light-background-image-wrapper {
    width: 100%;
    max-width: 492px;
    min-width: 305px;
    user-select: none;
}

.traffic-light-background-image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.traffic-light-container {
    position: absolute;
    top: 0;
    padding: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.traffic-light-image-wrapper {
    position: relative;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.traffic-light-image-wrapper img {
    min-width: 270px;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
    user-select: none;
    opacity: 1;
    transition: all 1s ease-out;
}

.text-assembly {
    position: absolute;
    top: 27%;
    right: 2%;
    max-width: 153px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    word-wrap: normal;
    transition: all 1s ease-out;
}

.text-assembly.red {
    animation: smoothPulseRed 2s ease-in-out infinite;
}

.text-assembly.yellow {
    animation: smoothPulseYellow 2s ease-in-out infinite;
}

.text-assembly.green {
    animation: smoothPulseGreen 2s ease-in-out infinite;
}

@keyframes smoothPulseRed {

    0%,
    100% {
        text-shadow: 10px 0 25px rgba(226, 114, 92, 0.8), 5px 0 15px rgba(255, 137, 131, 0.6);
    }

    50% {
        text-shadow: 10px 0 8px rgba(226, 114, 92, 0.9), 5px 0 5px rgba(255, 137, 131, 0.7);
    }
}

@keyframes smoothPulseYellow {

    0%,
    100% {
        text-shadow: 10px 0 25px rgba(255, 220, 123, 0.8), 5px 0 15px rgba(243, 208, 100, 0.6);
    }

    50% {
        text-shadow: 10px 0 8px rgba(255, 220, 123, 0.9), 5px 0 5px rgba(243, 208, 100, 0.7);
    }
}

@keyframes smoothPulseGreen {

    0%,
    100% {
        text-shadow: 10px 0 25px rgba(137, 218, 196, 0.8), 5px 0 15px rgba(154, 237, 211, 0.6);
    }

    50% {
        text-shadow: 10px 0 8px rgba(137, 218, 196, 0.9), 5px 0 5px rgba(154, 237, 211, 0.7);
    }
}

.red-light-on>.text-assembly {
    animation: smoothPulseRed 2s ease-in-out infinite;
}

.yellow-light-on>.text-assembly {
    animation: smoothPulseYellow 2s ease-in-out infinite;
}

.green-light-on>.text-assembly {
    animation: smoothPulseGreen 2s ease-in-out infinite;
}

.red-light-on,
.yellow-light-on,
.green-light-on,
.red-light-off,
.yellow-light-off,
.green-light-off {
    transition: opacity 0.5s ease-in-out;
}

@media (max-width: 1000px) {
    .animated-traffic-light {
        padding: 15px;
    }

    .animated-traffic-light {
        max-width: 400px;
    }

    .text-assembly {
        top: 27%;
        /* right: 37px; */
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .traffic-light-container {
        left: 0;
    }


    .animated-traffic-light {
        max-width: 300px;
    }

    .text-assembly {
        top: 27%;
        /* left: 58%; */
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    .animated-traffic-light-wrapper {
        justify-content: center;
    }

}

@media (max-width: 400px) {
    .text-assembly {
        /* left: 61%; */
        top: 23%;
    }

    .traffic-light-container {
        left: 0;
        padding: 5px;
    }

    .traffic-light-background-image-wrapper {
        padding: 0 10px
    }

    .traffic-light-image-wrapper img {
        width: 90%
    }
}