.safety-nature-first-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#C6E2F2, #D0DFA8);
    padding: 69px;
}

.safety-nature-first-plant-bg {
    position: absolute;
    z-index: 0;
    left: -528px;
    top: -270px;
    width: 1112px;
    height: 1194px;
    transform: rotate(-2deg);
}

.safety-nature-second-plant-bg {
    position: absolute;
    top: 2454px;
    left: -490px;
    z-index: 0;
    width: 1112px;
    height: 1194px;
    transform: rotate(-2.61deg);
}

.safety-nature-third-plant-bg {
    position: absolute;
    top: 740px;
    right: -300px;
    z-index: 0;
    width: 666px;
    height: 1059px;
}

.safety-nature-cards,
.safety-nature-blocks {
    position: relative;
    z-index: 1;
}

.safety-nature-cards {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    gap: 21px;
}

.first-section-cards {
    display: flex;
    flex-direction: column;
    gap: 21px;
    flex: 1;
}

.safety-nature-first-section .safety-nature-card {
    background-color: #B9D28C;
}

.safety-nature-blocks {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

@media (max-width: 1050px) {
    .safety-nature-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 21px;
    }

    .first-section-cards {
        display: contents;
    }
}

@media (max-width: 900px) {
    .safety-nature-cards {
        display: block;
        width: 100%;
    }

    .safety-nature-first-carousel, 
    .safety-nature-blocks-carousel {
        width: 100%;
        margin: 0 auto;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-container,
    .safety-nature-blocks-carousel .kaz-tarih-carousel-container {
        gap: 16px;
        margin-left: 0;
    }

    .safety-nature-first-carousel .safety-nature-card,
    .safety-nature-blocks-carousel .safety-nature-block{
        flex: 0 0 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .kaz-tarih-carousel-arrow-left {
        left: -7%;
    }

    .kaz-tarih-carousel-arrow-right {
        right: -7%;
    }

    .safety-nature-third-plant-bg {
        width: 500px;
        height: 980px;
        top: 740px;
        right: -250px;
    }
}

@media (max-width: 768px) {
    .safety-nature-first-section {
        padding: 60px;
    }
}

@media (max-width: 595px) {
    .safety-nature-first-section {
        padding: 27px 15px;
    }

    .safety-nature-cards {
        display: block;
        width: 100%;
        margin: 30px auto;
    }

    .safety-nature-first-carousel {
        width: 100%;
        margin: 0 auto;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-arrow-left,
    .safety-nature-blocks-carousel .kaz-tarih-carousel-arrow-left {
        left: -1%;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-arrow-right,
    .safety-nature-blocks-carousel .kaz-tarih-carousel-arrow-right {
        right: -1%;
    }

    .safety-nature-blocks-carousel .kaz-tarih-carousel-arrow {
        top: 45%;
    }
}

@media (max-width: 390px) {
    .safety-nature-first-section {
        padding: 27px 15px;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-arrow-left {
        left: -4%;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-arrow-right {
        right: -4%;
    }

    .safety-nature-cards {
        align-items: flex-start !important;
    }

    .safety-nature-first-plant-bg {
        display: none;
    }

    .safety-nature-third-plant-bg {
        width: 399px;
        height: 634px;
        top: 211px;
        left: 166px;
    }

    .safety-nature-second-plant-bg {
        top: 1290px;
        left: -500px;
    }

    .safety-nature-blocks-carousel .kaz-tarih-carousel-arrow {
        top: 40%;
    }

    .safety-nature-first-carousel .kaz-tarih-carousel-arrow {
        top: 45%;
    }
}

