.seasons-autumn-section {
    background: linear-gradient(135deg, #ff9631 0%, #ffcc73 100%);
}

/* .seasons-autumn-textured-bg {
    position: absolute;
    z-index: 1;
    filter: hue-rotate(200deg);
    width: 100vw;
}

.seasons-autumn-sections {
    position: absolute;
    z-index: 2;
} */