.physics-architecture-section {
    width: 100%;
    justify-content: center;
    padding: 40px 90px 36px;
    margin: 0px auto;
}

.physics-architecture-section p {
    margin-top: 15px;
}

.physics-architecture-cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.physics-architecture-card p {
    white-space: pre-line;
    align-items: flex-start;
    margin-top: 0;
}