.seasons-container {
	overflow-x: hidden;
}

.seasons-section-title {
    font-size: 2.813rem;
    font-weight: bold;
    line-height: 3.25rem;
    letter-spacing: 0;

    text-align: center;

    color: #ffffff;
}

.seasons-section-description {
    font-size: 2.813rem;
    line-height: 2.813rem;
    letter-spacing: 0;

    text-align: center;

    color: #ffffff;
}

.seasons-logo {
    font-weight: 700;
}
