.animated-car-card-header,
.animated-large-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.animated-large-card {
    height: 100%;
    max-width: 564px;

    gap: 36px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.animated-car-card-header {
    gap: 36px;
}

.animated-car-card-header h1 {
    font-size: 48px;
    font-weight: 700;
    color: #289FF5;
    margin: 0;
    padding: 0;
}

.animated-car-card-header h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.animated-car-card-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.animated-car-card-description ul {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .animated-large-card {
        max-width: 800px;
        gap: 24px;
    }

    .animated-car-card-header h1,
    .animated-car-card-header h2 {
        text-align: center;
    }

    .animated-car-card-description {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .animated-car-card-description ul {
        list-style: none;
        padding-left: 0;
    }
}

@media (max-width: 800px) {
    .content-section {
        padding: 40px 0;
    }
    .animated-car-card-header h1 {
        font-size: 30px;
    }
}
