.home-card {
    max-width: 341px;
    max-height: 450px;

    * {
        user-select: none;
    }

    .home-card-content-wrapper {
        min-height: 450px;
        padding: 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        border-radius: 40px;

        &:hover {
            cursor: pointer;
        }

        .home-card-title {
            h3 {
                font-family: var(--technical-font), serif;
                font-size: 24px;
                font-weight: bold;
            }
        }

        .home-card-text {
            p {
                font-family: var(--technical-font), serif;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .home-card-image-wrapper {
        max-width: 341px;
        max-height: 316px;
        position: absolute;
        top: 7%;
        display: flex;
        justify-content: center;

        img {
            z-index: 50;
            transition: all 0.3s ease-in-out;
        }
    }
}

/* ======================= */
/* BLACK CARD */
/* ======================= */
.black-card {
    .home-card-content-wrapper {
        background: black;

        .home-card-image-left-decor,
        .home-card-image-right-decor {
            position: absolute;
            width: 24px;
            height: 241px;
            background: #ECEEE1;
            border-radius: 9px;
            transition: width 0.3s ease-in-out;

        }

        .home-card-image-left-decor {
            top: 10%;
            left: -12px;
        }

        .home-card-image-right-decor {
            top: 10%;
            right: -12px;
        }
    }

    .home-card-title {
        h3 {
            color: #ECEEE1;
        }
    }

    .home-card-text {
        p {
            color: #ECEEE1;
        }
    }
}

/* ======================= */
/* LIGHT CARD */
/* ======================= */
.light-card {
    .home-card-content-wrapper {
        background: transparent;
        border: 1px solid black;
    }

    .home-card-title {
        h3 {
            color: black;
        }
    }

    .home-card-text {
        p {
            color: black;
        }
    }
}

/* ======================= */
/* UNTOUCHED */
/* ======================= */
.untouched-card {
    .home-card-content-wrapper {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transition: all 0.3s ease-in-out;
    }

    .home-card-text {
        opacity: 0;
        height: 0;
        transition: height 0.3s ease-in-out, opacity 0.1s ease-out;
    }

    .home-card-image-wrapper {
        img {
            width: 75%;
        }
    }
}

/* ======================= */
/* TOUCHED */
/* ======================= */
.touched-card {
    .home-card-content-wrapper {
        transform: scale(1.025);
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;

        .home-card-image-left-decor,
        .home-card-image-right-decor {
            width: 0;
            transition: width 0.3s ease-in-out;
        }
    }

    .home-card-text {
        opacity: 1;
        height: 120px;
        transition: height 0.3s ease-in-out, opacity 0.6s ease-in;
    }

    .home-card-image-wrapper {
        img {
            width: 100%;
            transform: translateY(calc(-40%));
            transition: all 0.3s ease-in-out;
        }
    }
}
