@keyframes fade {
    from {
        opacity: 0;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
    to {
        opacity: 1;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
}

.circle-plate-wrapper {
    width: 100%;
    position: relative;
}

.circle-plate {
    width: 100%;
    padding: 16px;
    position: relative;
    max-width: 656px;
    max-height: 656px;
    margin: auto;
    z-index: 5;
}


.plate {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.plate img {
    width: 100%;
}

.circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}

.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.top-left {
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.top-right {
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.bottom-left {
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.bottom-right {
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.5;
}

.quarter:hover {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.description-blocks {
    margin: 0 auto;
    max-width: 1200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;

}

.description-block {
    position: absolute;
    z-index: 10;
    -webkit-animation: fade 0.3s ease-in-out;
    -moz-animation: fade 0.3s ease-in-out;
    -ms-animation: fade 0.3s ease-in-out;
    -o-animation: fade 0.3s ease-in-out;
    animation: fade 0.3s ease-in-out;
    opacity: 1;
}

.description-block * {
    text-align: left !important;
    width: 100%;
}

.block-unHovered {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 272px;
    -webkit-transform: translateX(183%) !important;
    -moz-transform: translateX(183%) !important;
    -ms-transform: translateX(183%) !important;
    -o-transform: translateX(183%) !important;
    transform: translateX(183%) !important;
    z-index: 10;
}

.block-top-left {
    position: absolute;
    top: 20%;
    left: 10%;
    height: 100%;
}

.block-top-right {
    position: absolute;
    top: 20%;
    right: 10%;
    height: 100%;
}

.block-top-left div {
    width: 100%;
}

.block-bottom-left {
    position: absolute;
    bottom: 20%;
    left: 10%;
    height: 100%;
}

.block-bottom-right {
    position: absolute;
    bottom: 20%;
    right: 10%;
    height: 100%;
}

.block-unHovered *,
.block-bottom-right *,
.block-bottom-left *,
.block-top-right *,
.block-top-left * {
    opacity: 1;
}


/*********************/
/* MOBILE VERSION */
/*********************/

.mobile-circle-plate-wrapper {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
}

.mobile-description-blocks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

