.square-image-wrapper {
    width: 100%;
    padding: 29px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    user-select: none;
}
